@import "section/products.css";
@import "section/filters.css";
@import "checkout.css";
@import "serviceDesk.css";
@import "about.css";
@import "lookbook.css";
@import "introPage.css";
@import "lato.css";
@import "fonts.css";

@import "newLogo.css";


* {
    margin: 0;
    padding: 0;
}

.animation-container{

}

.no-padding{
    padding: 0px !important;
}

.catalog-product:hover{
    cursor: pointer;
}

.shrink{
    height: 40px !important;
}


body, html {
     height: 100% ;
    background-color: #e7e7e7 !important;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}


#legalfooter{
    position: relative;
    z-index: 21;
    height: 319px;
    background: #003594 !important;;
}

.footer-bar li .items:not(.disabled):not(.active):hover {
    background-color: #FFF;
}




.ui-cart-item-remove:focus{
    outline: none !important;
}

.reset-filter-container{
    margin-top: 40px;
}

.reset-filter-container button{
    border: transparent !important;
    border-radius: 0px !important;
    height: 45px !important;
    width: 170px !important;
    text-transform: uppercase !important;
    background: #003593 !important;
    font-size: 12px !important;
    font-family: "AvenirNext LT Pro Regular"
}


header h1 {
    color: white;
    margin: 0;
    font-family: "AvenirNext LT Pro", sans-serif;
    font-size: 22px;
    height: 50px;
    letter-spacing: 9px;
    line-height: 50px;
    font-weight: bold;
    color: black;
}

.menu-icon{
    height: 40px;
    font-size: 16px;
    font-weight: 100;
    font-family: "AvenirNext LT Pro", sans-serif;
    text-align: left;
    float: left;
    padding-top: 13px;
    padding-left: 35px !important;
}


nav#navBar-intro.ready{
    left: 0;
    right: 0;
    height: 52px;
    z-index: 1;
    background: transparent
    border-color: transparent;
}

nav#navBar-intro.ready>span {
    color: black;
    display: block;
    /* position: absolute; */
    width: 209px;
    height: 53px;
    margin: 7px auto !important;
    letter-spacing: 6px;
    /* font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica; */
    /* font-weight: bold; */
    font-size: 20px;
    background-size: 183px 27px;
    opacity: 1;
    background-position: center center;
    background-repeat: no-repeat;
    /* left: 40%; */
    /* top: 52%; */
    padding: -2px 0 0 15px;
    margin: -19px -68px;
}

nav#navBar-intro.fixed {
    bottom: auto;
    top: 0;
    visibility: visible!important;
    opacity: 1!important;
    position: fixed;
}


nav#navBar.top-hide {
    top: 0;
    bottom: auto;
}

nav#navBar-home.top-hide {
    top: 0;
    bottom: auto;
}


nav#navBar.fixed {
    bottom: auto;
    top: 0;
    visibility: visible!important;
    opacity: 1!important;
    position: fixed;
}

nav#navBar-home.fixed {
    bottom: auto;
    top: 0;
    visibility: visible!important;
    opacity: 1!important;
    position: fixed;
}

nav#navBar {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0;
    background: #f3f3f5;
    overflow: hidden;
    z-index: 98;
    border-bottom: 1px solid rgba(255,255,255,0);
}

nav#navBar-home {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0;
    background: #f3f3f5;
    overflow: hidden;
    z-index: 98;
    border-bottom: 1px solid rgba(255,255,255,0);
}

.fixed {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
}


.menu-open #sidemenu div {
    opacity: 1;
    left: 0;
    transition: all 650ms ease 150ms;
}





a {
    color: #008CBA;
    text-decoration: none;
    line-height: inherit;
}

.catalog-product{
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;

}

nav#navBar .cartcount span.label, nav#navBar .menu span.label {
    display: block;
    position: absolute;
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    text-indent: 0;
    font-size: 10px;
    text-rendering: auto;
    -webkit-font-smoothing: initial;
    height: 52px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    background: rgba(255,255,255,0);
    opacity: 0;
    visibility: hidden;
    color: white;
    transition: all 250ms cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all 250ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 250ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 250ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 250ms cubic-bezier(.25,.46,.45,.94);
}


nav#navBar-home .cartcount span.label, nav#navBar-home .menu span.label {
    display: block;
    position: absolute;
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    text-indent: 0;
    font-size: 10px;
    text-rendering: auto;
    -webkit-font-smoothing: initial;
    height: 52px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    background: rgba(255,255,255,0);
    opacity: 0;
    visibility: hidden;
    color: white;
    transition: all 250ms cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all 250ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 250ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 250ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 250ms cubic-bezier(.25,.46,.45,.94);
}

.show-menu-text{
    opacity: 1 !important;
    visibility: visible !important;
    left: 54px !important;
}

.show-bag-text{
    opacity: 1 !important;
    visibility: visible !important;
    right: 29px !important;
}


nav#navBar .cartcount span.label {
    right: 24px;
    top: 50%;
    margin-top: -26px;
    margin-bottom: -26px;
}

nav#navBar-home .cartcount span.label {
    right: 24px;
    top: 50%;
    margin-top: -26px;
    margin-bottom: -26px;
}

nav#navBar .menu span.label {
    left: 52px;
    top: 0;
}

nav#navBar-home .menu span.label {
    left: 52px;
    top: 0;
}


.opacity-0{
    opacity: 0;
}

.catalog-product a {
    display: block;
    position: absolute;
    font-size: 0;
    margin: 0;
    padding: 0;
    left: 5%;
    top: 11%;
    width: 90%;
    height: 76%;
    z-index: 2;
    background: rgba(200,255,255,0);
}

figure {
    margin: 1em 40px;
}

.lock-scroll, .no-scroll {
    overflow: hidden;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

nav#navBar .menu {
    display: block;
    position: absolute;
    text-decoration: none;
    background: center center no-repeat rgba(255,255,255,0);
    padding: 0;
    outline: 0;
    text-indent: -9999px;
    cursor: pointer;
    top: 50%;
    left: 0;
    margin: -23px 0;
}

nav#navBar-home .menu {
    display: block;
    position: absolute;
    text-decoration: none;
    background: center center no-repeat rgba(255,255,255,0);
    padding: 0;
    outline: 0;
    text-indent: -9999px;
    cursor: pointer;
    top: 50%;
    left: 0;
    margin: -19px 0;
}

.menu:hover{
    cursor: pointer;
}

nav#navBar .cartcount.show {
    opacity: 1;
}

nav#navBar-home .cartcount.show {
    opacity: 1;
}

nav#navBar .cartcount {
    opacity: 0;
    visibility: visible;
    display: block!important;
    position: fixed;
    overflow: visible;
    transition-delay: .4s;
    -o-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -webkit-transition-delay: .4s;
    -ms-transition-delay: .4s;

}

nav#navBar-home .cartcount {
    opacity: 0;
    visibility: visible;
    display: block!important;
    position: fixed;
    overflow: visible;
    transition-delay: .4s;
    -o-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -webkit-transition-delay: .4s;
    -ms-transition-delay: .4s;

}

ul.cart-products li {
    border-bottom: 1px solid #DEDFE0;
    display: block;
    position: relative;
    width: 281px;
    height: 281px;
    transition-property: all,height;
    transition-duration: .35s,.25s;
    transition-timing-function: cubic-bezier(.455,.03,.515,.955),cubic-bezier(.455,.03,.515,.955);
    transition-delay: 0,.3s;

    -o-transition-property: all,height;
    -o-transition-duration: .35s,.25s;
    -o-transition-timing-function: cubic-bezier(.455,.03,.515,.955),cubic-bezier(.455,.03,.515,.955);
    -o-transition-delay: 0,.3s;

    -moz-transition-property: all,height;
    -moz-transition-duration: .35s,.25s;
    -moz-transition-timing-function: cubic-bezier(.455,.03,.515,.955),cubic-bezier(.455,.03,.515,.955);
    -moz-transition-delay: 0,.3s;

    -ms-transition-property: all,height;
    -ms-transition-duration: .35s,.25s;
    -ms-transition-timing-function: cubic-bezier(.455,.03,.515,.955),cubic-bezier(.455,.03,.515,.955);
    -ms-transition-delay: 0,.3s;

    -webkit-transition-property: all,height;
    -webkit-transition-duration: .35s,.25s;
    -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955),cubic-bezier(.455,.03,.515,.955);
    -webkit-transition-delay: 0,.3s;


    margin: 0;
    padding: 0;
    left: 0;
}

/* NEW */

.footer-bar li .items.active span {
    opacity: 1;
}
/* #collection-footer-ios > ul > li:nth-child(1) > button > span.row1-icon.active{
    z-index: 999;
     background-image: url(../images/svg/oneRow-white.png) !important;
}
#collection-footer > ul > li:nth-child(1) > button > span.row1-icon.active{
     z-index: 999;
     background-image: url(../images/svg/oneRow-white.png) !important;
}

#collection-footer-ios > ul > li:nth-child(2) > button > span.row2-icon.active{
    z-index: 999;
     background-image: url(../images/svg/twoRows-white.png) !important;
}
#collection-footer > ul > li:nth-child(2) > button > span.row2-icon.active{
     z-index: 999;
     background-image: url(../images/svg/twoRows-white.png) !important;
} */


#collection-footer #filterBtn {
    background: #003593;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    width: 151px;
    text-decoration: none;
    letter-spacing: .25rem;
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    -o-transition: all .3s cubic-bezier(.215,.61,.355,1);
    -ms-transition: all .3s cubic-bezier(.215,.61,.355,1);
    -moz-transition: all .3s cubic-bezier(.215,.61,.355,1);
    -webkit-transition: all .3s cubic-bezier(.215,.61,.355,1);
}

.filter-btn-clicked{
    display: none;
}

.close-filter-button{
    width: 100%;
    padding: 0px !important;
}

.close-filter-button > button {
    font-family: 'AvenirNext LT Pro Demi';
    width: 100%;
    border-radius: 0px;
    border: transparent;
    height: 52px;
    text-transform: uppercase;
    color: blue;
    font-weight: 900;
}

.footer-buttons-filter{
    position: absolute;
    bottom: 52px;
    width: 100%;
}

.home-page-filter.hide {
    height: 0;
    display: block!important;
    visibility: visible;
}

.clear-filter-button{
    height: 52px;
    background: white;
    width: 100%;
    text-align: center;
    padding: 0px !important;

}

.clear-filter-button > button{
    width: 100%;
    background: white !important;
    color: blue !important;
    height: 100%;
    border-radius: 0px;
    outline: none;
    border: transparent;
    font-weight: 900;
    font-family: 'AvenirNext LT Pro Demi';
    font-size: 12px;
    text-transform: uppercase;
}

.apply-filter-button{
    height: 52px;
    background: white;
    width: 100%;
    text-align: center;
    padding: 0px !important;
}

.apply-filter-button > button{
    text-transform: uppercase;
    width: 100%;
    background: #003593 !important;
    color: white !important;
    font-weight: 900;
    height: 100%;
    border-radius: 0px;
    outline: none;
    border: transparent;
    font-family: 'AvenirNext LT Pro Demi';
    font-size: 12px;
}

.home-page-filter {
    display: block;
    position: fixed;
    transition: all .6s cubic-bezier(.215,.61,.355,1);
    -o-transition: all .6s cubic-bezier(.215,.61,.355,1);
    -ms-transition: all .6s cubic-bezier(.215,.61,.355,1);
    -moz-transition: all .6s cubic-bezier(.215,.61,.355,1);
    -webkit-transition: all .6s cubic-bezier(.215,.61,.355,1);
    width: 380px;
    height: 100%;
    background: #fff;
    z-index: 9999;
    bottom: 0;
    opacity: 1;
    right: 0px;
}

.accordio-container{
    height: calc(100% - 255px);
    overflow: auto;
}

.checkbox-accordion-label {
    height: 100%;
    width: 100%;
    padding: 12px 15px !important;
    margin-top: 0px;
    color: #003593;
    font-family: 'AvenirNext LT Pro Demi';
    font-size: 12px;
}

 .radio label:before {
    border-radius: 8px;
}
.checkbox label:before {
    border-radius: 3px;
}

input[type=radio]:checked {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}


input[type=checkbox].css-checkbox {
    position:absolute;
     z-index:-1000;
     left:-1000px;
     overflow: hidden;
     clip: rect(0 0 0 0);
     height:1px;
     width:1px;
     margin:-1px;
     padding:0;
     border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:30px;
  height:25px;
  display:inline-block;
  line-height:25px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:25px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -25px;
}

.css-label{
    margin: 0px !important;
    left: 10px;
}

label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_639f29df4d9d854362f962484288ca23.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.choose_language{
    background: white;
    height: 59px;
    text-align: left;
    color: #003593;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #fff !important;
    border-color: #dddddd;
}

.panel-body{
    padding: 0px !important;
}
.filter-heading-label{
    padding: 19px 16.5px !important;
    margin: 0px;
    width: 100%;
    font-size: 12px;
    color: #003593;
    font-family: "AvenirNext LT Pro Demi";

}

.accordio-checbox-container {
    background: #f3f3f5;
    /* border-bottom: 1px solid #003594 !important; */
}

/*.panel-title > a {*/
    /*color: inherit;*/
    /*color: #003594 !important;*/
    /*font-weight: 900;*/
    /*font-size: 12px;*/
    /*text-transform: uppercase;*/
    /*font-family: 'AvenirNext LT Pro Demi';*/
/*}*/

/*.panel-group .panel {*/
    /*margin-bottom: 0;*/
    /*overflow: hidden;*/
    /*border-radius: 0 !important;*/
    /*border-top: 1px solid #003593 !important;*/
    /*border-left: 1px solid #fff !important;*/
/*}*/


/*.panel-heading {*/
    /*border-bottom: 1px solid transparent;*/
    /*border-top-right-radius: 0px !important;*/
    /*border-top-left-radius: 0px !important;*/
    /*border-bottom-right-radius: 0px !important;*/
    /*border-bottom-left-radius: 0px !important;*/
    /*padding: 14px 32px !important;*/
/*}*/

/*.panel-group .panel{*/
    /*border-radius:0px !important;*/
/*}*/

/*.panel-default {*/
    /*border: none !important;*/
/*}*/

.info-text-filter {
    background: #f3f3f5;
    height: 80px;
    padding-top: 36px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'AvenirNext LT Pro Regular';
    text-align: center;
    color: #6d6d6d;
    border-left: 1px solid white;
}

/*.panel-group .panel + .panel {*/
    /*margin-top: 0px !important;*/

/*}*/

.panel-default > .panel-heading {
    color: #333333;
    background-color: white;
    border-color: white;
}

/*.collapsable {*/
    /*display: inline-block;*/
    /*overflow: hidden;*/
    /*height: 0;*/
    /*transition: height 1s;*/
    /*-webkit-transition: height 1s;*/
    /*-moz-transition: height 1s;*/
    /*-o-transition: height 1s;*/
/*}*/
/*.collapsable.showMe {*/
    /*height: 100px;*/
/*}*/

.home-page-filter .scrollpane {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 26px auto 0;
    padding: 0;
    left: 0px;
    top: 0px;
    overflow: hidden;
    transition: opacity .4s ease-out .3s;
    -o-transition: opacity .4s ease-out .3s;
    -moz-transition: opacity .4s ease-out .3s;
    -ms-transition: opacity .4s ease-out .3s;
    -webkit-transition: opacity .4s ease-out .3s;
    opacity: 1;
}

.home-page-filter .filterList {
        background: #f3f3f5;
    width: 100%!important;
    height: 100% !important;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    max-height: 100%;
    border-bottom: none;
    /* top: 57px; */
    /* -webkit-transform: translate(0,-50%); */
    /* transform: translate(0,-50%); */
}

#collection-footer-ios #filterBtn {
    background: #003593;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    width: 151px;
    text-decoration: none;
    letter-spacing: .25rem;
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    -o-transition: all .3s cubic-bezier(.215,.61,.355,1);
    -ms-transition: all .3s cubic-bezier(.215,.61,.355,1);
    -moz-transition: all .3s cubic-bezier(.215,.61,.355,1);
    -webkit-transition: all .3s cubic-bezier(.215,.61,.355,1);
}


.active-footer-btn-oneRow{
    background-image: url(../images/svg/oneRow-white.png);
}

nav.footerbuttons {
    display: block;
    position: absolute;
    transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    -o-transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    overflow: hidden;
    opacity: 0;
    right: -400px;
    bottom: 0px;
}

/* .footer-bar li {
    display: block;
    position: relative;
    width: auto;
    transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    background: #1458B9;
    float: left;
    height: inherit;
    margin: 0;
    border-top: 1px solid #003593;
    border-right: 1px solid #003593;
} */

.footer-bar li {
    display: block;
    position: relative;
    width: auto;
    transition: all 500ms ease;
    background: rgba(243,243,245,.56);
    float: left;
    height: inherit;
    margin: 0;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

nav.footerbuttons button>span {
    color: white;
    font-size: 11px;
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
    padding: 20px;
}


#iNoBounceToggle > div > header > div > div:nth-child(1) > button > span:nth-child(1){
        background-image: url(../images/svg/twoRows.svg);
}


.filter-menu  > div > button{
    display: block;
    position: relative;
    width: 60px;
    height: 54px;
    transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -o-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    text-decoration: none;
    text-indent: -9999px;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
}

.filter-menu li, .filter-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-menu li .items.row1 span {
    background-image: url(../images/svg/oneRow.svg);
}

.filter-menu li .items.active span {
    opacity: 1;

}

#filterMenu-home > div.col-md-4.col-xs-2.no-padding.filter-buttons-container > ul > li:nth-child(1) > button > span.active{
    background-image: url(../images/svg/oneRow-white.png);
    z-index: 99;
}

#filterMenu-home > div.col-md-4.col-xs-2.no-padding.filter-buttons-container > ul > li:nth-child(2) > button > span.active{
    background-image: url(../images/svg/twoRows-white.png) !important;
    z-index: 99;
}

#filterMenu-home > div.col-md-4.col-xs-2.no-padding.filter-buttons-container > ul > li:nth-child(2) > button > span:nth-child(1){
    background-image: url(../images/svg/twoRows.svg);
}


.filter-text-container{
    width: 50% !important;
}

.filter-buttons-container{
    width: 128px !important;
}

.filter-text {
    font-size: 12px;
    font-weight: bold;
    color: white;
    font-family: 'AvenirNext LT Pro Regular';
    padding-top: 14px;
}

.filter-text:hover{
    cursor: pointer;
}

.filter-menu li .items span {
    opacity: .2;
    background-size: 10px;
    background-position: center center;
    background-repeat: no-repeat;
}

.filter-menu li .items>span {
    background-size: 12px;
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}

.filter-menu li {
    display: block;
    position: relative;
    width: auto;
    transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    background: #1458b9;
    float: left;
    height: inherit;
    margin: 0;
    /* border-top: 1px solid #FFF; */
    border-right: 1px solid #003593;
}

.filter-menu li .items {
    display: block;
    position: relative;
    width: 60px;
    height: 45px;
    transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -o-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    text-decoration: none;
    text-indent: -9999px;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
}

.active {
    left: 0!important;
    visibility: visible!important;
}

.filter-menu > div > button >span {
    background-size: 12px;
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}

.filter-menu > div > button > span {
    opacity: .2;
    background-size: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/svg/arrowIcon.svg);
}



nav#navBar .menu {
    left: 9px !important;
    width: 53px;
    height: 52px;
    background-size: 18px 18px !important;
    transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -o-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    background-image: url(../images/svg/menu.png);
    opacity: 1;
}

nav#navBar-home .menu {
    left: 9px !important;
    width: 53px;
    height: 52px;
    background-size: 18px 18px !important;
    transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -o-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    background-image: url(../images/svg/menu.png);
    opacity: 1;
}

nav#navBar.ready .menu {
    top: 40%!important;
    opacity: 1;
}

nav#navBar-home.ready .menu {
    top: 38% !important;
    opacity: 1;
}


nav#navBar.ready>span {
    color: black;
    display: block;
    position: absolute;
    width: 133px;
    height: 30px;
    letter-spacing: 6px;
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    font-weight: bold;
    font-size: 20px;
    background-size: 110px 16px;
    opacity: 1;
    background-position: center center;
    background-repeat: no-repeat;
    left: 50%;
    top: 52%;
    padding: -2px 0 0 15px;
    margin: -19px -68px;
    /* text-indent: -9999px; */
    transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -o-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -moz-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -webkit-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -ms-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
}

nav#navBar-home.ready>span {
    color: black;
    display: block;
    position: absolute;
    width: 133px;
    height: 30px;
    letter-spacing: 6px;
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    font-weight: bold;
    font-size: 20px;
    background-size: 110px 16px;
    opacity: 1;
    background-position: center center;
    background-repeat: no-repeat;
    left: 50%;
    top: 52%;
    padding: -2px 0 0 15px;
    margin: -19px -68px;
    /* text-indent: -9999px; */
    transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -o-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -moz-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -webkit-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -ms-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
}

.cartcount {
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    letter-spacing: 0;
    border-radius: 12px;
    right: -50px;
    top: 15px;
    margin: 0;
    padding-bottom: 0px;
    background: #003593;
    color: #fff;
    font-size: .6875rem;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
    border: 1px solid #003593;
    z-index: 100;
}


nav#navBar.ready {
    left: 0;
    right: 0;
    height: 52px;
    z-index: 1;
    background: white;
    border-color: white;
}

nav#navBar-home.ready {
    left: 0;
    right: 0;
    height: 52px;
    z-index: 1;
    background: white;
    border-color: white;
}


.input-group-addon {
    padding: 6px 12px;
    font-size: 12px !important;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6) !important;
    border: 1px solid white !important;
    border-right: 1px solid white !important;
    border-radius: 0px !important;
    border-left:  none !important;
    border-top: none !important;
    border-bottom: none !important;
    text-transform: uppercase;
    color: #003593 !important;
}

.cleaninput.border-bottom {
    height: 60px;
    text-align: left;
    color: #003594;
    text-transform: uppercase;
    width: 100%;

    padding-left: 15px;
    font-size: 12.99px;
    border: 1px solid #fff;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: rgba(255, 255, 255, 1) !important;
}



.cleaninput {
    display: block;
    position: relative;
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    font-weight: 400;
    font-size: 9px;
    letter-spacing: .125rem;
    /* background: 0 0; */
    outline: 0;
    border: 0;
    box-shadow: none;
    color: #000;
    margin: 0 0 0px;
    /* padding: 0 0 10px; */
        text-transform: uppercase;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 0 auto;
    float: none;
    width: 80%;
}


#shoppingcart button.checkout {
    transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    bottom: 0;
    color: #FFF;
    background: #003593;
    text-align: center;
    overflow: hidden;
}


.cartcount.active {
    background: #003593 !important;
    color: white !important;
    left: inherit !important;
}

#shoppingcart button.checkout, #shoppingcart footer {
    width: 100%;
    height: 54px;
    display: block;
    position: absolute;
    font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1875rem;
    left: 0;
    margin: 0;
    padding: 0;
    line-height: 54px;
    text-align: center;
}

.hide-top-navbar{
    display: none !important;
}

.filter-menu {
    display: none;
}

#filters.show {
    opacity: 1;
    visibility: visible;
    height: auto;
    bottom: 0;
    transition-property: opacity,visibility;
    transition-timing-function: cubic-bezier(.77,0,.175,1);
    transition-duration: .5s,.5s;
    transition-delay: 0;
}

#filters {
    display: block;
    position: fixed;
    transition-property: opacity,visibility;
    transition-timing-function: cubic-bezier(.77,0,.175,1);
    transition-duration: .5s,.5s,0;
    transition-delay: 0,0;
    background: rgba(29,29,31,.97);
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    opacity: 0;
    height: 0;
    z-index: 97;
    visibility: hidden;
    overflow: hidden;
}

#filters button.closeFilters {
    display: block;
    position: absolute;
    right: 12px;
    top: 62px;
    padding: 20px;
    margin: 0;
    background: url(../images/svg/oneRow.svg) center center no-repeat;
    border: none;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    background-size: 12px;
    z-index: 100;
}

#filters button.closeFilters span.label {
    display: block;
    position: absolute;
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    text-indent: 0;
    font-size: .65rem;
    text-rendering: auto;
    text-align: right;
    padding: 0;
    margin: -15px 0;
    background: 0 0;
    visibility: hidden;
    transition: all 250ms cubic-bezier(.25,.46,.45,.94);
    right: 26px;
    top: 50%;
    opacity: 0;
    width: 100px;
    height: 30px;
    line-height: 32px;
    color: #fff;
}

/* #filters.show #filterLists {
    opacity: 1;
    transition: opacity 500ms ease-in-out 600ms;
}

@media only screen and (max-width: 64em) and (min-width: 43.75em){
    #filters #filterLists {
        width: 90vw;
        margin: 15vh 7vw;
    }

#filters #filterLists {
    display: block;
    position: relative;
    transition: opacity 500ms ease-in-out;
    width: 80vw;
    height: 63vh;
    opacity: 0;
    margin: 15vh 12vw;
} */

.filterList h3 {
    font-family: "AvenirNextLTPro-Demi",Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .8125rem;
    text-align: left;
    letter-spacing: .3rem;
    color: #FFF;
    margin: 0 0 30px;
    padding: 0;
}

.filterList .scrollpane {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

@media only screen and (min-width: 43.75em){
    .filterList {
        display: inline-block!important;
        width: 20%;
        height: 100%;
    }
}

.filterList {
    margin: 0 0 0 -4px;
    display: inline-block;
    vertical-align: top;
}

/* #filters.show footer {
    transition: all 500ms ease-in-out 500ms;
    opacity: 1;
}

@media only screen and (min-width: 43.75em){
    #filters footer {
        width: auto;
        left: 20px;
        bottom: 20px;
        top: auto;
        text-align: left;
    }
}

#filters footer {
    display: block;
    position: absolute;
    transition: all 500ms ease-in-out 100ms;
    width: 100%;
    left: 0;
    bottom: 71px;
    opacity: 0;
} */
/*
@media only screen and (min-width: 43.75em){
    #filters footer p {
        margin: 0 0 0 8vw;
    }

}


@media only screen and (max-width: 64em) and (min-width: 43.75em){
    #filters footer p {
        width: 50%;
        margin: 0 0 0 4vw!important;
    }

}

#filters footer p {
    font-family: "AvenirNext LT Pro Regular",Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .6rem;
    color: #FFF;
    letter-spacing: .25rem;
    padding: 0;
    margin: 0;
    text-align: center;
} */

#filters.show nav.footerbuttons {
    transition: all 500ms ease-in-out 650ms;
    right: 0;
}

#filters nav.footerbuttons {
    opacity: 1;
    visibility: visible;
}

av.footerbuttons.show {
    right: 0;
    opacity: 1;
}


nav.footerbuttons button {
    width: 200px;
    height: 52px;
    font-family: "AvenirNextLT Pro Regular",Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .68rem;
    letter-spacing: .25rem;
    text-align: center;
    outline: 0;
    background: #FFF;
    color: #000;
    float: left;
    overflow: hidden;
    /* ine-height: 52px; */
}



nav.footerbuttons button>span.hover {
    top: 100%;
}

#filters nav.footerbuttons button.disabled {
    background: #FFF!important;
    color: rgba(0,0,0,.2)!important;
    opacity: 1!important;
}


    .jspContainer {
        overflow: hidden;
        position: relative;
    }


/* /NEW */




ul.cart-products li figure {
    width: 281px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}


/*.button:focus, .button:hover, button:focus, button:hover {
    background-color: #007095;
    color: #FFF;
}
*/

.move-right-content-no-fixed{
    -ms-transform: translate(280px,0px);
    -webkit-transform: translateX(280px);
    transform: translateX(280px);
    -o-transform: translateX(280px);
    -moz-transform: translateX(280px); /


    transition: all .5s cubic-bezier(.645,.045,.355,1) !important;
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1) !important;
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1) !important;
    -moz-transition:  all .5s cubic-bezier(.645,.045,.355,1) !important;
     /* -webkit-transform: translate3d(-281px,0,0) !important;
    -moz-transform: translate3d(-281px,0,0) !important;
    transform: translate3d(-281px,0,0) !important;
    -ms-transform: translate3d(-281px,0,0) !important; */
}

.move-right-content{

    position: fixed;

    -ms-transform: translate(280px,0px); /* IE 9+ */
    -webkit-transform: translate(280px,0px); /* Safari */
    transform: translate(280px,0px); /* Standard syntax */
    -o-transform: translate(280px,0px); /* opera */
    -moz-transform: translate(280px,0px); /* mozzila */

    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
}

.move-left-content-no-fixed{
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);


    -webkit-transform: translate3d(-281px,0,0);
    transform: translate3d(-281px,0,0);
    -o-transform: translate3d(-281px,0,0);
    -moz-transform: translate3d(-281px,0,0);
    -ms-transform: translate3d(-281px,0,0);
}

.move-left-content{
    position: fixed;

    transition: all .5s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);


    -webkit-transform: translate3d(-281px,0,0);
    transform: translate3d(-281px,0,0);
    -o-transform: translate3d(-281px,0,0);
    -moz-transform: translate3d(-281px,0,0);
    -ms-transform: translate3d(-281px,0,0);
}



.main-container{
    width:100% !important;
    margin:0px !important;
    padding:0px !important;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);

    transition-property: -o-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);

    transition-property: -moz-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);

    transition-property: -ms-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
    margin-top: 56px !important;
    background: #fcfcfc;;
}

.home-page #catalog {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
.home-page #catalog
    background: #e7e7e7;
    float: left;
    /* top: 72px; */
    /* padding-bottom: 108px!important; */
    /* margin: 15px; */
    /* margin-left: 15px; */
    padding: 15px;
}


.close-main-container{
    width:100% !important;
    margin:0px !important;
    padding:0px !important;
    transition-property: -webkit-transform;
    transition-property: -o-transform;
    transition-property: -moz-transform;
    transition-property: -ms-transform;
    transition-property: -transform;

    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

.menu-title-container{
    padding: 0 !important;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.menu-icon > i{
    text-align: left;
    padding-top: 13px;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 100;
    float: left;
    margin-left: 30px;

}

.menu-title{
    font-size:16px;
}

body {
    overflow-x: hidden;
    transition-property: transform;
    transition-property: -o-transform;
    transition-property: -moz-transform;
    transition-property: -ms-transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);


}

/* Cart style */

.cart-open #shoppingcart {
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -ms-transition: all .5s cubic-bezier(.645,.045,.355,1);

    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



:hov

.cls

element.style {
}
#shoppingcart {
    display: block;
    position: fixed;
    width: 320px;
    height: 100%;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -ms-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);
    background: #f3f3f5;
    top: 0;
    right: 0;
    letter-spacing: .1875rem;
    overflow: hidden!important;
    min-height: 500px;
    z-index: 9999;
    margin-top: 0!important;
    /*!* -webkit-transform: translate3d(281px,0,0); *!*/
    /*-moz-transform: translate3d(281px,0,0);*/
    /*-o-transform: translate3d(281px,0,0);*/
    /*-ms-transform: translate3d(281px,0,0);*/
    /*!* transform: translate3d(281px,0,0); *!*/
}


.single-overlay.show {
    visibility: visible;
}

.cartcount.show {
    right: 26px;
}



.cartcount span.label {
    display: block;
    position: absolute;
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    text-indent: 0;
    font-size: .625rem;
    text-rendering: auto;
    -webkit-font-smoothing: initial;
    right: 24px;
    top: 4px;
    height: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    background: 0 0;
    opacity: 0;
    visibility: hidden;
    color: #1D1D1F;
    transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
}

.label {
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-bottom: inherit;
    padding: .25rem .5rem;
    font-size: .6875rem;
    background-color: #008CBA;
    color: #FFF;
}

#shoppingcart #cart-scroll {
    opacity: 1 !important;
    left: 0 !important;
    transition: all 750ms ease .25s !important;
    -moz-transition: all 750ms ease .25s !important;
    -webkit-transition: all 750ms ease .25s !important;
    -ms-transition: all 750ms ease .25s !important;
    -o-transition: all 750ms ease .25s !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    width: 320px !important;
}

/*.ui-cart-item-remove:hover{
    background: transparent !important;
    color:black !important;
}*/



ul.cart-products li h3, ul.cart-products li p {
    font-size: 8px;
    width: 216px;
}

ul.cart-products li h3, ul.cart-products li h4 {
    font-family: 'Avenir Next LT Pro Demi',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px !important;
}

ul.cart-products li h4 {
    float: right;
    font-size: 9px;
    white-space: nowrap;
}

ul.cart-products li div button:hover {
    width: 32px;
    height: 32px;
    color: #000;
    text-indent: -9999px;
    background: url('../images/svg/cancel.svg') left center no-repeat;
    background-size: 8px;
    margin: 0;
    padding: 0;
    top: -5px;
}

ul.cart-products li div button:focus {
    width: 32px;
    height: 32px;
    color: #000;
    text-indent: -9999px;
    background: url('../images/svg/cancel.svg') left center no-repeat;
    background-size: 8px;
    margin: 0;
    padding: 0;
    top: -5px;
}

ul.cart-products li div button {
    width: 32px;
    height: 32px;
    color: #000;
    text-indent: -9999px;
    background: url('../images/svg/cancel.svg') left center no-repeat;
    background-size: 8px;
    margin: 0;
    padding: 0;
    top: -5px;
}

#shoppingcart #cart-scroll {
    display: block;
    position: absolute;
    overflow: visible;
    top: 0;
    bottom: 108px;
    opacity: 1;
    visibility: visible;
}

#cart-scroll > ul > li > figure > img {
    max-height: 100%;
    width: auto;
}

#cart-scroll > ul > li > figure{
    text-align: center;
}

ul.cart-products li div {
    display: block;
    position: absolute;
    z-index: 99;
    left: 0;
    font-family: "AvenirNext LT Pro Demi";
    font-size: 11px;
    top: 170px;
    margin: 0;
    padding: 0 25px 0 35px;
}

ul.cart-products {

    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 281px;
    overflow: hidden;
}

.cart-open #shoppingcart footer {
    bottom: 54px;
    transition: all 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -o-transition: all 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -moz-transition: all 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -webkit-transition: all 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -ms-transition: all 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
}

#shoppingcart footer {
    transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    bottom: 54px;
    background: #FFF;
    color: #000;
    text-align: left;
    padding: 0 32px;
}

#shoppingcart footer span {
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    text-align: right;
    float: right;
    width: 50%;
    padding-right: 0px;
}

.cart-open #shoppingcart button.checkout {
    transition: bottom 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -o-transition: bottom 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -moz-transition: bottom 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -webkit-transition: bottom 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -ms-transition: bottom 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    bottom: 0;
}

#shoppingcart button.checkout:disabled {
    background: #000;
    opacity: 1;
    color: rgba(255,255,255,.5);
}

#shoppingcart button.checkout .spinner.ng-hide {
    display: none;
}

.backoffice .button .spinner, .backoffice button .spinner, .button .spinner, button .spinner {
    display: block;
    position: absolute;
    width: 100%;
    height: 8px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}


#shoppingcart button.checkout>span.hover {
    top: 100%;
}

#shoppingcart button.checkout>span {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}

/* */

.footer-bar-home {
    display: block;
    position: fixed;

    transition: all 450ms cubic-bezier(.455,.03,.515,.955),visibility 450ms cubic-bezier(.455,.03,.515,.955),transform 550ms cubic-bezier(.455,.03,.515,.955) !important;
    bottom: 0;
    left: 0;
    right: 0;
    height: 54px;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    z-index: 20;

    -webkit-transform: translateY(0);
    transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);

    transition: visibility 0s, opacity 0.01s linear;
    -o-transition: visibility 0s, opacity 0.01s linear;
    -moz-transition: visibility 0s, opacity 0.01s linear;
    -webkit-transition: visibility 0s, opacity 0.01s linear;
    -ms-transition: visibility 0s, opacity 0.01s linear;
    background-color: transparent;
}


#legalfooter .inner {
    background: #003593;
    position: absolute;
    bottom: 47px;
    text-align: center;
    width: 100%;
}

.no-hijack,
.no-hijack:focus,
.no-hijack:active,
.no-hijack:hover{
    color: white;
}

#legalfooter p {
    color: #fff;
    text-align: center;
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    font-weight: 400;
    letter-spacing: .1875rem;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 20px;
    background: #003593;
}

#legalfooter .inner ul {
    display: block;
    position: relative;
    width: 302px;
    height: 55px;
    margin: 30px auto 0;
    list-style-type: none;
    padding: 0;
}

#legalfooter .inner ul li {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    position: relative;
    width: 55px;
    height: 55px;
    border: 1px solid #32323A;
    margin: 0 20px;
    padding: 0;
}

#legalfooter .inner ul li button {
    overflow: hidden;
    width: 55px;
    height: 55px;
    background: 0 0;
    padding: 0;
    margin: 0;
    color: #BBB;
}

#legalfooter .inner ul li button>span {
    padding-top: 17px;
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}


#legalfooter p.header {
    letter-spacing: .3rem;
}

.close-footer {

    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -webkit-transition: all .35s cubic-bezier(.455,.03,.515,.955);

}



#collection-footer {
    top: calc(100% - 54px);
}

.footer-bar li, .footer-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.single-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: calc(100% - 380px);
    height: 100%;
    background: 0 0;
    visibility: hidden;
}

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}



.footer-bar li, .footer-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-bar li .items {
    display: block;
    position: relative;
    width: 60px;
    height: 54px;
    transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -o-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    text-decoration: none;
    text-indent: -9999px;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
}

.button, button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFF;
    transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -webkit-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    -ms-transition: background-color 300ms ease-out;
}

.footer-bar li .items.row4 span {
    background-size: 12.8px;
    background-image: url('../images/svg/arrowIcon.svg');
}

.footer-bar li .items.row1 span {
    background-image: url('../images/svg/arrowIcon.svg');
}

.footer-bar li .items span {
    opacity: .2;
    background-size: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/svg/arrowIcon.svg');
}


.active-footer-button{
    opacity: 1;
}


.footer-bar li .items>span {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}

.footer-bar li .items span {
    opacity: .2;
    background-size: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/svg/arrowIcon.svg');
}

.footer-bar li .items.row2 span{
    background-image: url('../images/svg/twoRows.svg');
}

.footer-bar li .items.row1 span {
    background-image: url('../images/svg/oneRow.svg');
}


.footer-bar li .items.row4 span {
    background-image: url('../images/svg/grid.svg');
}

.footer-bar li .items>span {
    background-size: 12px;
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}



header h1 span {
    color: #847AD1;
    font-weight: 400;
}

div.loading-apple {
    background: transparent url('../../images/apple-loading.gif') 0 8px no-repeat;
    height: 50px;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 40px;
    font-weight: 100;
}

div.btn {
    border: 1px solid #d3d3d3;
    background: -webkit-linear-gradient(top, #efefef 0%, #e0e0e0 100%);
    padding: 5px 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-shadow: 1px 1px 0 white;
}

div.btn:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
    background: -webkit-linear-gradient(top, #efefef 0%, #e0e0e0 100%);
}

#legalfooter .inner ul li button:hover{
    background-color: #003593;
}

.instagram:hover{
    background-color: black;
}

.facebook:hover{
    background-color: black;
}

.twitter{
    background-color: black;
    border-right: none !important;
}


div.action-button {
    margin: 0 auto;
    background-color: lightseagreen;
    color: white;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    transition: all .35s;
    -o-transition: all .35s;
    -ms-transition: all .35s;
    -moz-transition: all .35s;
    -webkit-transition: all .35s;
}

div.action-button.loading {
    opacity: .65;
    background-color: #a9a9a9;
    pointer-events: none;
}

div.action-button:hover {
    background-color: black;
}

div.error {
    background-color: #f4cbd1;
    color: #502e33;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    padding: 10px 15px;
}

.slick-initialized .slick-slide {
    display: block;
}

.hide-filter-menu{
    display: none !important;
}

.product-menu-label{
    color:  #274595 !important;
}

.product-bag-label{
    color: #274595 !important;
}

@media screen and (max-width: 350px){
    .filter-text-container{
        padding-right: 0px;
        width: 45% !important;
    }
}

@media screen and (max-width: 990px){

    .catalog-product{
        padding: 0px !important;
        border-bottom: 1px solid white;
        border-right:1px solid white
    }

    .footer-bar ul li:last-child{
        display: none;
    }

    .product-name-catalog{
        font-size: 11px !important;
    }

    .product-in-stock-info{
        font-family: "AvenirNext LT Pro Regular";
        color: #999999;
        font-size: 11px !important;
        margin-top: 5px;
    }

    .home-page #catalog {
        /* top: 52px; */
        margin-top: 18px;
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
        -o-transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
        -moz-transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
        -wekit-transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
        -ms-transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
        background: #e7e7e7;
        float: left;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
    }


    /* NEW MEDIA*/
     nav#navBar.ready {
        height: 110px;
        background: #003593;
        border-color: #003593;
    }

    nav#navBar-home.ready {
        height: 90px;
        background: #003593;
        border-color: #003593;
    }

    .cartcount {
        top: 12px;
        background: white;
        color: #000;
        line-height: 21px;
        border: 1px solid #FFF;
    }

    nav#navBar.ready>span {
        left: 50%;
        top: 42%;
    }

    nav#navBar-home.ready>span {
        left: 49%;
        top: 42%;
    }

    nav#navBar .menu {
        margin: -26px 0;
        background-image: url(../images/svg/menu-button.png) ;
    }

    nav#navBar-home .menu {
        margin: -26px 0;
        background-image: url(../images/svg/menu-button.png) ;
    }

    .filter-menu {
        display: block;
        height: 45px;
        width: 74% !important;
        margin: 65px auto;
        float: none !important;
        z-index: 2;
        background: #1458B9;
    }



    #navBar-home > aside{
        top: 25px;
    }

    .filter-menu-wide {
        display: block;
        height: 45px;
        width: 100% !important;
        margin: 0px auto;
        float: none !important;
        z-index: 2;
        background: #1458B9;
    }

    .footer-bar-home{
        display: none;
    }


    /* product page style */
    .product-page-navbar-menu {
        margin: -21px 0  !important;
        background-image: url(../images/svg/menu.png) !important;
        opacity: 1;

    }

    /*.product-page-navabar{*/
        /*height: 52px !important;*/
        /*background: #f3f3f5 !important;*/
        /*border-color: #f3f3f5 !important;*/
    /*}*/

    .product-page-navbar-span-logo-icon {
        left: 50% !important;
        top: 53% !important;
    }

    .product-page-cartcount {
        top: 11px;
        background: #274595;
        color: #fff;
        line-height: 21px;
        border: 1px solid #334f9a;
    }
    /* /prodcut-page-style */

    /* /new */

   .home-page-filter{
        width: 100%;
        z-index: 9999999;
   }

   .home-page-filter .scrollpane{
    top: 0px !important;
   }
}

/* New Designe css*/

.product-name-catalog{
    margin-top: 12px;
    color: #3e3e3e  ;

}


.product-in-stock-info{
    font-family: "AvenirNext LT Pro Regular";
    color: #979797;
    font-size: 20px;
    margin-top: 7px;
}


.products-category{
    height: 50px;
    color: black;

}

/* End of new desgine Css */


