@import "section/products.css";
@import "section/filters.css";
@import "section/dashboard.css";
@import "section/basket.css";
@import "section/modal.css";
@import "section/pagination.css";
@import "section/currencies.css";

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    position: relative;
    background-color: rgb(243,243,243) !important;
}

.cart-open .overlay, .menu-open .overlay {
    visibility: visible;
    opacity: 1;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
}

header h1 {
    color: white;
    margin: 0;
    font-family: "AvenirNext LT Pro", sans-serif;
    font-size: 22px;
    height: 50px;
    letter-spacing: 9px;
    line-height: 50px;
    font-weight: bold;
    color: black;
}

.menu-icon{
    height: 40px;
    font-size: 16px;
    font-weight: 100;
    font-family: "AvenirNext LT Pro", sans-serif;
    text-align: left;
    float: left;
    padding-top: 13px;
    padding-left: 35px !important;
}

body #navBar.top, body .transform-container {
    height:100%;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

nav#navBar.ready {
    left: 0;
    right: 0;
    height: 52px;
    z-index: 98;
    background: #FFF;
    border-color: #DEDFE0;
}

nav#navBar.top-hide {
    top: 0;
    bottom: auto;
}


nav#navBar.fixed {
    bottom: auto;
    top: 0;
    visibility: visible!important;
    opacity: 1!important;
    position: fixed;
}

nav#navBar {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0;
    background: #f3f3f5;
    overflow: hidden;
    z-index: 98;
    border-bottom: 1px solid rgba(255,255,255,0);
}

.fixed {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
}

nav#navBar.ready .menu {
    top: 50%!important;
    opacity: 1;
}

nav#navBar .menu {
    width: 72px;
    height: 52px;
    background-size: 18px 14px !important;
    transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    background-image: url('../images/svg/menu.svg') !important;
    opacity: 1;
}

.overlay {
    display: block;
    position: fixed;
    width: 100%;
    min-height: 1000vw;
    z-index: 99;
    background: rgba(29,29,31,.6);
    visibility: hidden;
    opacity: 0;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
}

a {
    color: #008CBA;
    text-decoration: none;
    line-height: inherit;
}

.catalog-product a {
    display: block;
    position: absolute;
    font-size: 0;
    margin: 0;
    padding: 0;
    left: 5%;
    top: 11%;
    width: 90%;
    height: 76%;
    z-index: 2;
    background: rgba(200,255,255,0);
}

figure {
    margin: 1em 40px;
}

.lock-scroll, .no-scroll {
    overflow: hidden;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

nav#navBar .menu {
    display: block;
    position: absolute;
    text-decoration: none;
    background: center center no-repeat rgba(255,255,255,0);
    padding: 0;
    outline: 0;
    text-indent: -9999px;
    cursor: pointer;
    top: 50%;
    left: 0;
    margin: -26px 0;
}

.menu:hover{
    cursor: pointer;
}

nav#navBar .cartcount.show {
    opacity: 1;
}

nav#navBar .cartcount {
    opacity: 0;
    visibility: visible;
    display: block!important;
    position: fixed;
    overflow: visible;
    transition-delay: .4s;
}

.cartcount.show {
    right: 26px;
}

.cartcount {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0px;
    border-radius: 12px;
    right: -50px;
    top: 14px;
    margin: 0;
    padding: 0;
    background: #f3f3f5;
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    border: 1px solid #FFF;
    z-index: 100;
}

.button:focus, .button:hover, button:focus, button:hover {
    background-color: #007095;
    color: #FFF;
}

nav#navBar.ready>span {
    color: black;
    display: block;
    position: absolute;
    width: 82px;
    height: 17px;
    letter-spacing: 6px;
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    font-weight: bold;
    font-size: 20px;
    /* background-size: 82px 17px; */
    opacity: 1;
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    left: 50%;
    top: 50%;
    padding: 0 0 0 15px;
    margin: -15px -36px;
    /* text-indent: -9999px; */
    transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
}

nav#navBar>span {
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    /*opacity: 0;*/
    cursor: pointer;
    /*background-image: url(svg/intro/logoblack.svg);*/
}

.move-right-content{
    -ms-transform: translate(280px,0px); /* IE 9 */
    -webkit-transform: translate(280px,0px); /* Safari */
    transform: translate(280px,0px); /* Standard syntax */
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
}



.main-container{
    width:100% !important;
    margin:0px !important;
    padding:0px !important;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}


.home-page #catalog{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
    background: #f3f3f5;
    float: left;
    top: 72px;
    min-height: 100vh;
    padding-bottom: 108px!important
}



.close-main-container{
    width:100% !important;
    margin:0px !important;
    padding:0px !important;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

.menu-title-container{
    padding: 0 !important;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.menu-icon > i{
    text-align: left;
    padding-top: 13px;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 100;
    float: left;
    margin-left: 30px;
  
}

.menu-title{
    font-size:16px;
}

body {
    overflow-x: hidden;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

.footer-bar {
    display: block;
    position: fixed;
    transition: all 450ms cubic-bezier(.455,.03,.515,.955),visibility 450ms cubic-bezier(.455,.03,.515,.955),-webkit-transform 550ms cubic-bezier(.455,.03,.515,.955);
    transition: all 450ms cubic-bezier(.455,.03,.515,.955),visibility 450ms cubic-bezier(.455,.03,.515,.955),transform 550ms cubic-bezier(.455,.03,.515,.955);
    bottom: 0;
    left: 0;
    right: 0;
    height: 54px;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    z-index: 20;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: visibility 0s, opacity 0.01s linear;
}


#legalfooter .inner {
    margin-top: 75px;
    background: #1B1B1F;
    padding: 75px 0;
}

#legalfooter p {
    color: #fff;
    text-align: center;
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    font-weight: 400;
    letter-spacing: .1875rem;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 20px;
}

#legalfooter .inner ul {
    display: block;
    position: relative;
    width: 302px;
    height: 55px;
    margin: 30px auto 0;
    list-style-type: none;
    padding: 0;
}

#legalfooter .inner ul li {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    position: relative;
    width: 55px;
    height: 55px;
    border: 1px solid #32323A;
    margin: 0 20px;
    padding: 0;
}

#legalfooter .inner ul li button {
    overflow: hidden;
    width: 55px;
    height: 55px;
    background: 0 0;
    padding: 0;
    margin: 0;
    color: #BBB;
}

#legalfooter .inner ul li button>span {
    padding-top: 17px;
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}


#legalfooter p.header {
    letter-spacing: .3rem;
}

.close-footer {
    position: relative;
    visibility: hidden !important;
    opacity: 0 !important;
}

#collection-footer {
    top: calc(100vh - 54px);
}

.footer-bar li, .footer-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-bar li {
    display: block;
    position: relative;
    width: auto;
    transition: all 500ms ease;
    background: rgba(243,243,245,.56);
    float: left;
    height: inherit;
    margin: 0;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

.footer-bar li, .footer-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-bar li .items {
    display: block;
    position: relative;
    width: 60px;
    height: 54px;
    transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    text-decoration: none;
    text-indent: -9999px;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
}

.button, button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFF;
    transition: background-color 300ms ease-out;
}

.footer-bar li .items.row4 span {
    background-size: 11px;
    background-image: url('../images/svg/arrowIcon.svg');
}

.footer-bar li .items.row1 span {
    background-image: url('../images/svg/arrowIcon.svg');
}

.footer-bar li .items span {
    opacity: .2;
    background-size: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/svg/arrowIcon.svg');
}

.footer-bar li .items>span {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}

.footer-bar li .items span {
    opacity: .2;
    background-size: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/svg/arrowIcon.svg');
}


.footer-bar li .items.row1 span {
    background-image: url('../images/svg/substract.svg');
}

.footer-bar li .items.row4 span {
    background-size: 11px;
    background-image: url('../images/svg/grid.svg');
}

.footer-bar li .items>span {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}

nav.footerbuttons {
    display: block;
    position: absolute;
    transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    overflow: hidden;
    opacity: 0;
    right: -400px;
    bottom: -20px;
}

header h1 span {
    color: #847AD1;
    font-weight: 400;
}

div.loading-apple {
    background: transparent url('../images/apple-loading.gif') 0 8px no-repeat;
    height: 50px;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 40px;
    font-weight: 100;
}

div.btn {
    border: 1px solid #d3d3d3;
    background: -webkit-linear-gradient(top, #efefef 0%, #e0e0e0 100%);
    padding: 5px 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-shadow: 1px 1px 0 white;
}

div.btn:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
    background: -webkit-linear-gradient(top, #efefef 0%, #e0e0e0 100%);
}


div.action-button {
    margin: 0 auto;
    background-color: lightseagreen;
    color: white;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    transition: all .35s;
    -o-transition: all .35s;
    -ms-transition: all .35s;
    -moz-transition: all .35s;
    -webkit-transition: all .35s;
}

div.action-button.loading {
    opacity: .65;
    background-color: #a9a9a9;
    pointer-events: none;
}

div.action-button:hover {
    background-color: black;
}

div.error {
    background-color: #f4cbd1;
    color: #502e33;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    padding: 10px 15px;
}