@import "section/products.css";
@import "section/filters.css";
@import "checkout.css";
@import "serviceDesk.css";
@import "about.css";
@import "lookbook.css";


* {
    margin: 0;
    padding: 0;
}


body, html {
    height: 100%;
    position: relative;
    background-color: rgb(243,243,243) !important;
}

#legalfooter{
    position: relative;
    z-index: 21;
}

.footer-bar li .items:not(.disabled):not(.active):hover {
    background-color: #FFF;
}



.cart-open .overlay, .menu-open .overlay {
    visibility: visible;
    opacity: 1;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -ms-transition: all .5s cubic-bezier(.645,.045,.355,1);
}

.ui-cart-item-remove:focus{
    outline: none !important;
}

header h1 {
    color: white;
    margin: 0;
    font-family: "AvenirNext LT Pro", sans-serif;
    font-size: 22px;
    height: 50px;
    letter-spacing: 9px;
    line-height: 50px;
    font-weight: bold;
    color: black;
}

.menu-icon{
    height: 40px;
    font-size: 16px;
    font-weight: 100;
    font-family: "AvenirNext LT Pro", sans-serif;
    text-align: left;
    float: left;
    padding-top: 13px;
    padding-left: 35px !important;
}

body #navBar.top, body .transform-container {
    height:100%;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

nav#navBar.ready {
    left: 0;
    right: 0;
    height: 52px;
    z-index: 98;
    background: #FFF;
    border-color: #DEDFE0;
}

nav#navBar.top-hide {
    top: 0;
    bottom: auto;
}


nav#navBar.fixed {
    bottom: auto;
    top: 0;
    visibility: visible!important;
    opacity: 1!important;
    position: fixed;
}

nav#navBar {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 0;
    background: #f3f3f5;
    overflow: hidden;
    z-index: 98;
    border-bottom: 1px solid rgba(255,255,255,0);
}

.fixed {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
}

nav#navBar.ready .menu {
    top: 50%!important;
    opacity: 1;
}

nav#navBar .menu {
    width: 72px;
    height: 52px;
    background-size: 18px 14px !important;
    transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -o-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    background-image: url('../images/svg/menu.svg') !important;
    opacity: 1;
}

    
.menu-open #sidemenu div {
    opacity: 1;
    left: 0;
    transition: all 650ms ease 150ms;
}



.overlay {
    margin: 0px;
    display: block;
    position: fixed;
    width: 100%;
    min-height: 100%;
    z-index: 99;
    background: rgba(29,29,31,.6);
    visibility: hidden;
    opacity: 0;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -ms-transition: all .5s cubic-bezier(.645,.045,.355,1);
}

a {
    color: #008CBA;
    text-decoration: none;
    line-height: inherit;
}

.catalog-product a {
    display: block;
    position: absolute;
    font-size: 0;
    margin: 0;
    padding: 0;
    left: 5%;
    top: 11%;
    width: 90%;
    height: 76%;
    z-index: 2;
    background: rgba(200,255,255,0);
}

figure {
    margin: 1em 40px;
}

.lock-scroll, .no-scroll {
    overflow: hidden;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

nav#navBar .menu {
    display: block;
    position: absolute;
    text-decoration: none;
    background: center center no-repeat rgba(255,255,255,0);
    padding: 0;
    outline: 0;
    text-indent: -9999px;
    cursor: pointer;
    top: 50%;
    left: 0;
    margin: -26px 0;
}

.menu:hover{
    cursor: pointer;
}

nav#navBar .cartcount.show {
    opacity: 1;
}

nav#navBar .cartcount {
    opacity: 0;
    visibility: visible;
    display: block!important;
    position: fixed;
    overflow: visible;
    transition-delay: .4s;
    -o-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -webkit-transition-delay: .4s;
    -ms-transition-delay: .4s;

}

ul.cart-products li {
    border-bottom: 1px solid #DEDFE0;
    display: block;
    position: relative;
    width: 281px;
    height: 281px;
    transition-property: all,height;
    transition-duration: .35s,.25s;
    transition-timing-function: cubic-bezier(.455,.03,.515,.955),cubic-bezier(.455,.03,.515,.955);
    transition-delay: 0,.3s;

    -o-transition-property: all,height;
    -o-transition-duration: .35s,.25s;
    -o-transition-timing-function: cubic-bezier(.455,.03,.515,.955),cubic-bezier(.455,.03,.515,.955);
    -o-transition-delay: 0,.3s;

    -moz-transition-property: all,height;
    -moz-transition-duration: .35s,.25s;
    -moz-transition-timing-function: cubic-bezier(.455,.03,.515,.955),cubic-bezier(.455,.03,.515,.955);
    -moz-transition-delay: 0,.3s;

    -ms-transition-property: all,height;
    -ms-transition-duration: .35s,.25s;
    -ms-transition-timing-function: cubic-bezier(.455,.03,.515,.955),cubic-bezier(.455,.03,.515,.955);
    -ms-transition-delay: 0,.3s;

    -webkit-transition-property: all,height;
    -webkit-transition-duration: .35s,.25s;
    -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955),cubic-bezier(.455,.03,.515,.955);
    -webkit-transition-delay: 0,.3s;


    margin: 0;
    padding: 0;
    left: 0;
}

ul.cart-products li figure {
    width: 281px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}


/*.button:focus, .button:hover, button:focus, button:hover {
    background-color: #007095;
    color: #FFF;
}
*/
nav#navBar.ready>span {
    color: black;
    display: block;
    position: absolute;
    width: 82px;
    height: 17px;
    letter-spacing: 6px;
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    font-weight: bold;
    font-size: 20px;
    /* background-size: 82px 17px; */
    opacity: 1;
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    left: 50%;
    top: 50%;
    padding: 0 0 0 15px;
    margin: -15px -36px;
    /* text-indent: -9999px; */
    transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -o-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -moz-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -webkit-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
    -ms-transition: opacity 500ms cubic-bezier(.645,.045,.355,1);
}

nav#navBar>span {
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    /*opacity: 0;*/
    cursor: pointer;
    /*background-image: url(svg/intro/logoblack.svg);*/
}

.move-right-content-no-fixed{
    -ms-transform: translate(280px,0px); /* IE 9+ */
    -webkit-transform: translate(280px,0px); /* Safari */
    transform: translate(280px,0px); /* Standard syntax */
    -o-transform: translate(280px,0px); /* opera */
    -moz-transform: translate(280px,0px); /* mozzila */

    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
}

.move-right-content{

    position: fixed;

    -ms-transform: translate(280px,0px); /* IE 9+ */
    -webkit-transform: translate(280px,0px); /* Safari */
    transform: translate(280px,0px); /* Standard syntax */
    -o-transform: translate(280px,0px); /* opera */
    -moz-transform: translate(280px,0px); /* mozzila */

    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
}

.move-left-content-no-fixed{
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);


    -webkit-transform: translate3d(-281px,0,0);
    transform: translate3d(-281px,0,0);
    -o-transform: translate3d(-281px,0,0);
    -moz-transform: translate3d(-281px,0,0);
    -ms-transform: translate3d(-281px,0,0);
}

.move-left-content{
    position: fixed;

    transition: all .5s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);


    -webkit-transform: translate3d(-281px,0,0);
    transform: translate3d(-281px,0,0);
    -o-transform: translate3d(-281px,0,0);
    -moz-transform: translate3d(-281px,0,0);
    -ms-transform: translate3d(-281px,0,0);
}



.main-container{
    width:100% !important;
    margin:0px !important;
    padding:0px !important;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);

    transition-property: -o-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);

    transition-property: -moz-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);

    transition-property: -ms-transform;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}


.home-page #catalog{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
    -o-transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
    -wekit-transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: opacity .5s cubic-bezier(.455,.03,.515,.955),top .45s cubic-bezier(.455,.03,.515,.955);
    background: #f3f3f5;
    float: left;
    top: 72px;
    min-height: 100vh;
    padding-bottom: 108px!important
}



.close-main-container{
    width:100% !important;
    margin:0px !important;
    padding:0px !important;
    transition-property: -webkit-transform;
    transition-property: -o-transform;
    transition-property: -moz-transform;
    transition-property: -ms-transform;
    transition-property: -transform;

    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

.menu-title-container{
    padding: 0 !important;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.menu-icon > i{
    text-align: left;
    padding-top: 13px;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 100;
    float: left;
    margin-left: 30px;
  
}

.menu-title{
    font-size:16px;
}

body {
    overflow-x: hidden;
    transition-property: transform;
    transition-property: -o-transform;
    transition-property: -moz-transform;
    transition-property: -ms-transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);


}

/* Cart style */

.cart-open #shoppingcart {
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -ms-transition: all .5s cubic-bezier(.645,.045,.355,1);

    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#shoppingcart {
    display: block;
    position: fixed;
    width: 281px;
    height: 100%;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    -moz-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -ms-transition: all .5s cubic-bezier(.645,.045,.355,1);
    -webkit-transition: all .5s cubic-bezier(.645,.045,.355,1);
    background: #f3f3f5;
    top: 0;
    right: 0;
    letter-spacing: .1875rem;
    overflow: hidden!important;
    min-height: 500px;
    z-index: 9999;
    margin-top: 0!important;
    -webkit-transform: translate3d(281px,0,0);
    -moz-transform: translate3d(281px,0,0);
    -o-transform: translate3d(281px,0,0);
    -ms-transform: translate3d(281px,0,0);
    transform: translate3d(281px,0,0);
}

.cartcount.active {
    background: #000 !important;
    color: #f3f3f5 !important;
    left: inherit !important;
}

.cartcount.show {
    right: 26px;
}

.cartcount {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    letter-spacing: 0;
    border-radius: 12px;
    right: -50px;
    top: 14px;
    margin: 0;
    padding: 0;
    background: #f3f3f5;
    color: #000;
    font-size: .6875rem;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    border: 1px solid #FFF;
    z-index: 100;
}

.cartcount span.label {
    display: block;
    position: absolute;
    font-family: AvenirNextLTPro-Demi,Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    text-indent: 0;
    font-size: .625rem;
    text-rendering: auto;
    -webkit-font-smoothing: initial;
    right: 24px;
    top: 4px;
    height: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    background: 0 0;
    opacity: 0;
    visibility: hidden;
    color: #1D1D1F;
    transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
}

.label {
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-bottom: inherit;
    padding: .25rem .5rem;
    font-size: .6875rem;
    background-color: #008CBA;
    color: #FFF;
}

#shoppingcart #cart-scroll {
    opacity: 1 !important;
    left: 0 !important;
    transition: all 750ms ease .25s !important;
    -moz-transition: all 750ms ease .25s !important;
    -webkit-transition: all 750ms ease .25s !important;
    -ms-transition: all 750ms ease .25s !important;
    -o-transition: all 750ms ease .25s !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    width: 281px!important;
}

/*.ui-cart-item-remove:hover{
    background: transparent !important;
    color:black !important;
}*/



ul.cart-products li h3, ul.cart-products li p {
    font-size: 8px;
    width: 216px;
}

ul.cart-products li h3, ul.cart-products li h4 {
    font-family: 'Avenir Next LT Pro Demi',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px !important;
}

ul.cart-products li h4 {
    float: right;
    font-size: 9px;
    white-space: nowrap;
}

ul.cart-products li div button:hover {
    width: 32px;
    height: 32px;
    color: #000;
    text-indent: -9999px;
    background: url('../images/svg/cancel.svg') left center no-repeat;
    background-size: 8px;
    margin: 0;
    padding: 0;
    top: -5px;
}

ul.cart-products li div button:focus {
    width: 32px;
    height: 32px;
    color: #000;
    text-indent: -9999px;
    background: url('../images/svg/cancel.svg') left center no-repeat;
    background-size: 8px;
    margin: 0;
    padding: 0;
    top: -5px;
}

ul.cart-products li div button {
    width: 32px;
    height: 32px;
    color: #000;
    text-indent: -9999px;
    background: url('../images/svg/cancel.svg') left center no-repeat;
    background-size: 8px;
    margin: 0;
    padding: 0;
    top: -5px;
}

#shoppingcart #cart-scroll {
    display: block;
    position: absolute;
    overflow: visible;
    top: 0;
    bottom: 108px;
    opacity: 1;
    visibility: visible;
}

#cart-scroll > ul > li > figure > img {
    max-height: 100%;
    width: auto;
}

#cart-scroll > ul > li > figure{
    text-align: center;
}

ul.cart-products li div {
    display: block;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 170px;
    margin: 0;
    padding: 0 25px 0 35px;
}

ul.cart-products {

    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 281px;
    overflow: hidden;
}

.cart-open #shoppingcart footer {
    bottom: 54px;
    transition: all 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -o-transition: all 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -moz-transition: all 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -webkit-transition: all 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -ms-transition: all 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
}

#shoppingcart footer {
    transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    bottom: 54px;
    background: #FFF;
    color: #000;
    text-align: left;
    padding: 0 32px;
}

#shoppingcart button.checkout, #shoppingcart footer {
    width: 281px;
    height: 54px;
    display: block;
    position: absolute;
    font-family: AvenirNextLTPro-Regular,Arial,Helvetica;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .6875rem;
    letter-spacing: .1875rem;
    left: 0;
    margin: 0;
    padding: 0;
    line-height: 54px;
    text-align: center;
}

#shoppingcart footer span {
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    text-align: right;
    float: right;
    width: 50%;
    padding-right: 35px;
}

.cart-open #shoppingcart button.checkout {
    transition: bottom 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -o-transition: bottom 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -moz-transition: bottom 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -webkit-transition: bottom 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    -ms-transition: bottom 350ms cubic-bezier(.25,.46,.45,.94) 350ms;
    bottom: 0;
}

#shoppingcart button.checkout:disabled {
    background: #000;
    opacity: 1;
    color: rgba(255,255,255,.5);
}

#shoppingcart button.checkout {
    transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    bottom: 0;
    color: #FFF;
    background: #000;
    text-align: center;
    overflow: hidden;
}
#shoppingcart button.checkout .spinner.ng-hide {
    display: none;
}

.backoffice .button .spinner, .backoffice button .spinner, .button .spinner, button .spinner {
    display: block;
    position: absolute;
    width: 100%;
    height: 8px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.button[disabled], button[disabled] {
    background-color: #000!important;
    cursor: default;
    opacity: 1!important;
    box-shadow: none;
    color: rgba(255,255,255,.5)!important;
}

#shoppingcart button.checkout>span.hover {
    top: 100%;
}

.button[disabled], button[disabled] {
    background-color: #000!important;
    cursor: default;
    opacity: 1!important;
    box-shadow: none;
    color: rgba(255,255,255,.5)!important;
}

.button.disabled, .button[disabled], button.disabled, button[disabled] {
    background-color: #008CBA;
    border-color: #007095;
    color: #FFF;
    cursor: default;
    opacity: .7;
    box-shadow: none;
}
#shoppingcart button.checkout {
    transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    -ms-transition: all 350ms cubic-bezier(.25,.46,.45,.94);
    bottom: 0;
    color: #FFF;
    background: #000;
    text-align: center;
    overflow: hidden;
}

#shoppingcart button.checkout>span {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}

/* */

.footer-bar-home {
    display: block;
    position: fixed;
    transition: all 450ms cubic-bezier(.455,.03,.515,.955),visibility 450ms cubic-bezier(.455,.03,.515,.955),-webkit-transform 550ms cubic-bezier(.455,.03,.515,.955);
    transition: all 450ms cubic-bezier(.455,.03,.515,.955),visibility 450ms cubic-bezier(.455,.03,.515,.955),transform 550ms cubic-bezier(.455,.03,.515,.955);
    transition: all 450ms cubic-bezier(.455,.03,.515,.955),visibility 450ms cubic-bezier(.455,.03,.515,.955),-o-transform 550ms cubic-bezier(.455,.03,.515,.955);
    transition: all 450ms cubic-bezier(.455,.03,.515,.955),visibility 450ms cubic-bezier(.455,.03,.515,.955),-moz-transform 550ms cubic-bezier(.455,.03,.515,.955);
    bottom: 0;
    left: 0;
    right: 0;
    height: 54px;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    z-index: 20;

    -webkit-transform: translateY(0);
    transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);

    transition: visibility 0s, opacity 0.01s linear;
    -o-transition: visibility 0s, opacity 0.01s linear;
    -moz-transition: visibility 0s, opacity 0.01s linear;
    -webkit-transition: visibility 0s, opacity 0.01s linear;
    -ms-transition: visibility 0s, opacity 0.01s linear;
    background-color: transparent;
}


#legalfooter .inner {
    margin-top: 75px;
    background: #1B1B1F;
    padding: 75px 0;
}

#legalfooter p {
    color: #fff;
    text-align: center;
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    font-weight: 400;
    letter-spacing: .1875rem;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 20px;
    background: rgb(27, 27, 31);    
}

#legalfooter .inner ul {
    display: block;
    position: relative;
    width: 302px;
    height: 55px;
    margin: 30px auto 0;
    list-style-type: none;
    padding: 0;
}

#legalfooter .inner ul li {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    position: relative;
    width: 55px;
    height: 55px;
    border: 1px solid #32323A;
    margin: 0 20px;
    padding: 0;
}

#legalfooter .inner ul li button {
    overflow: hidden;
    width: 55px;
    height: 55px;
    background: 0 0;
    padding: 0;
    margin: 0;
    color: #BBB;
}

#legalfooter .inner ul li button>span {
    padding-top: 17px;
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}


#legalfooter p.header {
    letter-spacing: .3rem;
}

.close-footer {
    position: relative;
    visibility: hidden !important;
    opacity: 0 !important;
}

#collection-footer {
    top: calc(100vh - 54px);
}

.footer-bar li, .footer-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-bar li {
    display: block;
    position: relative;
    width: auto;
    transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    background: rgba(243,243,245,.56);
    float: left;
    height: inherit;
    margin: 0;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

.footer-bar li, .footer-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-bar li .items {
    display: block;
    position: relative;
    width: 60px;
    height: 54px;
    transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -o-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: background-color .45s cubic-bezier(.25,.46,.45,.94);
    text-decoration: none;
    text-indent: -9999px;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
}

.button, button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem;
    font-size: 1rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFF;
    transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -webkit-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    -ms-transition: background-color 300ms ease-out;
}

.footer-bar li .items.row4 span {
    background-size: 11px;
    background-image: url('../images/svg/arrowIcon.svg');
}

.footer-bar li .items.row1 span {
    background-image: url('../images/svg/arrowIcon.svg');
}

.footer-bar li .items span {
    opacity: .2;
    background-size: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/svg/arrowIcon.svg');
}

.footer-bar li .items.active span{
    opacity: 1;
}

.active-footer-button{
    opacity: 1;
}


.footer-bar li .items>span {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}

.footer-bar li .items span {
    opacity: .2;
    background-size: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/svg/arrowIcon.svg');
}


.footer-bar li .items.row1 span {
    background-image: url('../images/svg/substract.svg');
}

.footer-bar li .items.row4 span {
    background-size: 11px;
    background-image: url('../images/svg/grid.svg');
}

.footer-bar li .items>span {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -o-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: top .35s cubic-bezier(.455,.03,.515,.955);
    top: 0;
    left: 0;
}

nav.footerbuttons {
    display: block;
    position: absolute;
    transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    -o-transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    -webkit-transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    overflow: hidden;
    opacity: 0;
    right: -400px;
    bottom: -20px;
}

header h1 span {
    color: #847AD1;
    font-weight: 400;
}

div.loading-apple {
    background: transparent url('../../images/apple-loading.gif') 0 8px no-repeat;
    height: 50px;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 40px;
    font-weight: 100;
}

div.btn {
    border: 1px solid #d3d3d3;
    background: -webkit-linear-gradient(top, #efefef 0%, #e0e0e0 100%);
    padding: 5px 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-shadow: 1px 1px 0 white;
}

div.btn:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
    background: -webkit-linear-gradient(top, #efefef 0%, #e0e0e0 100%);
}

#legalfooter .inner ul li button:hover{
    background-color: black;
}

.instagram:hover{
    background-color: black;
}

.facebook:hover{
    background-color: black;
}

.twitter{
    background-color: black;
}


div.action-button {
    margin: 0 auto;
    background-color: lightseagreen;
    color: white;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    transition: all .35s;
    -o-transition: all .35s;
    -ms-transition: all .35s;
    -moz-transition: all .35s;
    -webkit-transition: all .35s;
}

div.action-button.loading {
    opacity: .65;
    background-color: #a9a9a9;
    pointer-events: none;
}

div.action-button:hover {
    background-color: black;
}

div.error {
    background-color: #f4cbd1;
    color: #502e33;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    padding: 10px 15px;
}


@media screen and (max-width: 990px){
    .footer-bar ul li:last-child{
        display: none;
    }
}