@import "lato.css";


.intro-container-title > h1{
	margin-bottom: 30px;
}


/* .intro-page-currency{
	   
    font-size: 15px;
	margin-top: 50px !important;
	width: 80% !important;
    margin: 0 auto !important;
} */

.blink-select{
	background: url(../images/svg/down-arrow.png) no-repeat right rgba(255,255,255,0.8) !important;
}

.blink-soft-select{

}

.intro-page-button{
	font-size: 12px;
    padding: 0;
    height: 60px;
	width: 80%;
	margin-top: 30px;
	outline: 0 !important;

}

.btn:focus,.btn:active {
   outline: none !important;
}

.drop_list {
    overflow: hidden;
    background: no-repeat #ffffff;
    background-image:url('../images/svg/down-arr.svg');
    background-position: top right; 
}

.drop_list select{
    -webkit-appearance:none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    padding: 3px;
    font-size: 1.2em;
    height: 30px;
    width: 120%;
    overflow: hidden;
}

.thanks-text{
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-transform: uppercase;
	color: white;
}


/* NEW */
	.language{
		margin-top: 5px !important;
	}

	.intro-page-currency {
		-webkit-border-radius:  0px !important;
	    background: url(../images/svg/down-arrow.png) no-repeat right #fff ;
	    -webkit-appearance: none;
	    background-size: 10px !important;
	    background-position-x: 97% !important;

	}

.intro-page-button {
    font-size: 12px;
    padding: 0;
    height: 60px;
    width: 40%;
    margin-top: 15px;
    background: #003594;
    color: white;
    outline: 0 !important;
}

.main-intro-conainer {
	height: 100vh;
    background: url(../images/landingimage.png);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}




.welcome-title{
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 40px;
	color: white;
	font-family: 'AvenirNext LT Pro Ultra Light';
	
}

.welcome-opening{
	font-size: 19px;
	text-transform: uppercase;
	color: white;
	margin-top: 5px;
   font-family: 'AvenirNext LT Pro Demi';

}

.welcome-sub-opening{
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 40px;
	color: white;
	margin-top: 5px;
	font-family: 'AvenirNext LT Pro Ultra Light';
	
}

.blink{
	background: rgba(255,255,255,0.8) !important;

}





.blink-soft::-webkit-input-placeholder {
   text-align: center;
   color: #ED4337 !important;
   text-transform: uppercase;
}

 .blink-soft:-moz-placeholder { /* Firefox 18- */
   text-align: center;
   color: #ED4337 !important;
   text-transform: uppercase;
}
.blink-soft::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   color: #ED4337 !important;
   text-transform: uppercase;
}

.blink:-ms-input-placeholder {  
   text-align: center;
   color: rgb(102,122,127) !important;
   text-transform: uppercase;
}

.email-input:focus,
.email-input:focus:hover,
.email-input:active{
	border: transparent !important;
	outline: none !important;
}

.email-input {
	text-transform: uppercase;
    text-align: center;
    width: 30% !important;
    margin: 30px auto !important;
    border-radius: 0px !important;
    border: transparent !important;
    color: #223f8e !important;
    height: 60px !important;
    color: #003594;
    -webkit-transition: all 300ms cubic-bezier(0.475, 0.200, 0.015, 0.920) !important; 
   -moz-transition: all 300ms cubic-bezier(0.475, 0.200, 0.015, 0.920) !important; 
     -o-transition: all 300ms cubic-bezier(0.475, 0.200, 0.015, 0.920) !important; 
        transition: all 300ms cubic-bezier(0.475, 0.200, 0.015, 0.920) !important; /* custom */

-webkit-transition-timing-function: cubic-bezier(0.475, 0.200, 0.015, 0.920) !important; 
   -moz-transition-timing-function: cubic-bezier(0.475, 0.200, 0.015, 0.920) !important; 
     -o-transition-timing-function: cubic-bezier(0.475, 0.200, 0.015, 0.920) !important; 
        transition-timing-function: cubic-bezier(0.475, 0.200, 0.015, 0.920) !important; /* custom */
}

.myAlert{
	width: 50% !important;
	margin: 40px auto !important;
	color: #003593 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    border-radius: 0px !important;
}

.alert-warning {
    
}


.signup-btn,
.signup-btn:active,
.signup-btn:focus,
.signup-btn:hover {
	height: 60px !important;
    outline: none !important;
    font-size: 16px !important;
    left: 35%;
    color: white !important;
    height: 60px;
    border-radius: 0px !important;
    width: 30% !important;
    margin: 0 auto;
    border: transparent !important;
    background: rgb(0,53,147) !important;
    text-transform: uppercase;
}


.email-input::-webkit-input-placeholder {
   text-align: center;
   color: #003594 ;
   text-transform: uppercase;
}

.email-input:-moz-placeholder { /* Firefox 18- */
   text-align: center;
   color: #003594 ;
   text-transform: uppercase;
}

.email-input::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   color: #003594 ;
   text-transform: uppercase;
}

.email-input:-ms-input-placeholder {  
   text-align: center;
   color: #003594 ;
   text-transform: uppercase;
}

.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.info-intro-text-container{
	padding: 0px !important;
	background: rgba(0,53,147,0.7);
}


#iNoBounceToggle{
	height: 100%;
}


.main-intro-conainer {
    overflow-x: hidden;
    height: 100%;
    background-size: cover center center;
    background: url(../images/intro-backgournd.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.main-intro-conainer > .row{
    position: relative;
	top: 40%;
 }

	.country-select > div{
		width: 40% !important;
	}



@media screen and (max-width: 1300px){}


@media  screen and (max-width: 990px){
	.main-intro-conainer > .row{
		position: relative;
		top: 25%;
	}	

	.intro-page-button {
	    font-size: 12px;
	    padding: 0;
	    height: 60px;
	    width: 80%;
	    margin-top: 15px;
	    background: #003593;
	    color: white;
	    outline: 0 !important;
	}

	.signup-btn,
.signup-btn:active,
.signup-btn:focus,
.signup-btn:hover  {
	outline: none !important;
		font-size: 16px !important;
	    left:20%;
	    border-radius: 0px !important;
	    width: 60% !important;
	}

	.myAlert{
		width: 70% !important;
		margin: 40px auto !important;
	}


	.email-input {
	    width: 60% !important;
	    
	}

	.country-select > div{
		width: 80% !important;
	}


.intro-page-currency {
	-webkit-border-radius:  0px !important;
    background: url(../images/svg/down-arrow.png) no-repeat right #fff ;
    -webkit-appearance: none;
    background-size: 10px !important;
    background-position-x: 96% !important;

}


/* NEW */

@media (max-width: 450px){
	.email-input {
	    width: 70% !important;
	    
	}


	.signup-btn,
.signup-btn:active,
.signup-btn:focus,
.signup-btn:hover  {
	outline: none !important;
		font-size: 16px !important;
	    left:15%;
	    border-radius: 0px !important;
	    width: 70% !important;
	}
}



@media (max-width: 480px){
	.input-group-addon {
	    font-size: 11px !important;
	}
}