.intro-container-title > h1{
	margin-bottom: 30px;
}


/* .intro-page-currency{
	   
    font-size: 15px;
	margin-top: 50px !important;
	width: 80% !important;
    margin: 0 auto !important;
} */

.intro-page-button{
	font-size: 12px;
    padding: 0;
    height: 62px;
	width: 80%;
	margin-top: 30px;

}

/* NEW */
	.language{
		margin-top: 5px !important;
	}

	.intro-page-currency {
	    font-size: 15px;
	    /* margin-top: 50px !important; */
	    width: 50% !important;
	    /* margin: 0 auto !important; */
	}

.intro-page-button {
    font-size: 12px;
    padding: 0;
    height: 45px;
    width: 50%;
    margin-top: 15px;
    background: #003593;
    color: white;
}

.main-intro-conainer {
	height: 100vh;
    background: url(../images/landingimage.png);
}

.main-intro-conainer > .row{
		position: fixed;
		margin-top: 50vh;
	}

	.country-select > div{
		width: 50% !important;
	}


@media (max-width: 990px){
	.main-intro-conainer > .row{
		position: fixed;
		margin-top: 75vh;
	}	

	.intro-page-button {
	    font-size: 12px;
	    padding: 0;
	    height: 45px;
	    width: 80%;
	    margin-top: 15px;
	    background: #003593;
	    color: white;
	}

	.country-select > div{
		width: 80% !important;
	}


	.intro-page-currency {
	    font-size: 15px;
	    /* margin-top: 50px !important; */
	    width: 80% !important;
	    /* margin: 0 auto !important; */
	}
}


/* NEW */

@media (min-width: 1500px){
	
}



@media (max-width: 800px){
	
}