<!DOCTYPE html>
<html>
<head>
    <title>Moa</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/default.css" />
    <meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" />

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.30/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.30/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.30/angular-touch.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/Application.js"></script>
    <script src="js/controllers/ApplicationController.js"></script>
    <script src="js/controllers/ProductsController.js"></script>
    <script src="js/controllers/ProductController.js"></script>
    <script src="js/controllers/BasketController.js"></script>
    <script src="js/controllers/CurrenciesController.js"></script>
    <script src="js/controllers/AccountController.js"></script>
    <script src="js/controllers/FiltersController.js"></script>
    <script src="js/controllers/ServiceDeskController.js"></script>
    <script src="js/controllers/ModalController.js"></script>
    <script src="js/filters/Convert.js"></script>
    <script src="js/directives/Sidebar.js"></script>
    <script src="js/directives/Filter.js"></script>
    <script src="js/directives/Panel.js"></script>
    <script src="js/services/Gateway.js"></script>
    <script src="js/services/Basket.js"></script>
    <script src="js/services/Currency.js"></script>
    <script src="js/services/Config.js"></script>
    <script src="js/services/Http.js"></script>
    <script src="js/services/Socket.js"></script>

    <script src="js/ioBounce.js"></script>

</head>
<body ng-app="moaApp" ng-controller="ApplicationController" ng-keyup="keyUp($event)"  ng-class="bodyOpenModalClass">
    <section data-sidebar class="filters" ng-class="modalClass" >
        <div class="view left-sidebar-menu-container" ng-include="'views/sidebarMenu.html'"></div>
    </section>
    <aside id="shoppingcart" class="shoppingcart" ng-class="cartOpenClass" data-quantity="0">
        <aside class="cartcount show active">{{cartCount}}<span class="label">CLOSE</span></aside>
        <div id="cart-scroll">
            <ul class="cart-products">
                <li product-id="{{crProduct.id}}" ng-repeat="crProduct in cartProducts">
                   <figure>
                        <img width="300" height="300" ng-src="{{crProduct.imageUrl  }}" />
                   </figure> 
                   <div data-count="1">
                        <h3>{{crProduct.name}}</h3>
                        <p>EU 44 | US 11 | UK 10 QTY: <span class="count">1</span></p>
                                <h4>€ {{crProduct.price}}</h4>
                        <button class="ui-cart-item-remove no-hijack" ng-click="removeFromCart(crProduct)">x</button>
                    </div>
                </li>
             </ul>
        </div>

        <footer>Total <span>€ {{totalPrice}}</span></footer>
        <button ng-click="goToCart()" class="checkout" >
            <span><strong>Checkout</strong></span>
            <span class="hover"><strong>Checkout</strong></span>
            <div class="spinner ng-hide"><div class="bounce1"></div><div class="bounce2"></div></div>
        </button>
    </aside>
    <div class="transform-container" ng-class="contentClass">
        <header class="navbar-fixed-top">
            <nav id="navBar" class="navBar fixed ready top-hide top" style="">
                <button role="button" class="menu" ng-click="openModal()">
                    Menu<span class="label">MENU</span>
                </button>
                <span class="logo" ng-click="goHome('/')">ABC</span>
                <aside class="cartcount show " ng-click="openCart()">{{cartCount}}<span class="label"></span></aside>
            </nav>
            <figure id="overlay" class="overlay" ng-click="closeModal()"></figure>
        </header>
        <div ng-view id="iNoBounceToggle"></div>
    </div>
</body>


</html>
