 <header class="navbar-fixed-top" ng-class="topNavbarStyle">
  <nav id="navBar" class="navBar fixed ready top-hide top" ng-class="topNavbarStyle">
      <button role="button" class="menu" ng-class="topNavbarMenuStyle" ng-click="openModal()">
          Menu<span class="label" ng-class="menuLabelClass">MENU</span>
      </button>
      <span class="logo" ng-class="topNavbarLogoStyle" ng-click="goHome('/')"></span>
      <aside class="cartcount show " ng-class="topNavbarCartcountStyle" ng-click="openCart()">{{cartProducts.cartCount}}<span class="label" ng-class="bagLabelClass">BAG</span></aside>
  </nav>
  <div class="col-md-12 col-xs-12 filter-menu" ng-class="filterMenuButtonClass">
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-10 col-xs-10"></div>
  </div>
 
</header>

<div id="about">
	<section id="aboutintro" class="about-template scroll-item ">
        <div class="start scroll-item col-md-12">
            <h1 data-0p="transform: translate3d(0,0vh,0); opacity:1" data-100p="transform: translate3d(0,-40vh,0); opacity:0" class="skrollable skrollable-between" style="transform: translate3d(0px, 0vh, 0px); opacity: 1;">Our Story<br>So far</h1>
            <span data-0p="transform: translate3d(0,0vh,0); opacity:1" data-100p="transform: translate3d(0,40vh,0); opacity:0" class="skrollable skrollable-between" style="transform: translate3d(0px, 0vh, 0px); opacity: 1;">↓</span>
        </div>
    </section>
    <section class="about-template about-template-1 col-md-12 transform-container">
        <figure data-bottom-center="opacity:0.2" class="col-md-12" data-25p-bottom="opacity:1" style="background-image: url(&quot;https://www.etq-amsterdam.com/app/uploads/2016/02/About_1.jpg&quot;); opacity: 1;" class="skrollable skrollable-after">
            <img ng-src="https://www.etq-amsterdam.com/app/uploads/2016/02/About_1.jpg" imageonload="">
        </figure>
        <aside>
            <div class="vertical-center skrollable skrollable-after" data-bottom-center="transform: translate3d(-10%,-50%,0);opacity:0" data-bottom-bottom="transform: translate3d(0%,-50%,0);opacity:1" style="transform: translate3d(0%, -50%, 0px); opacity: 1;">
                <div class="scroll-item">
                    <h2>The start</h2>
                    <p class="large">ETQ, founded in 2010, was born under the mindset of eliminating over accessorized branding and focusing primary on letting the quality of the product speak for itself. All our designs are generated under three standard rules: elegant, timeless, and quality. Slowly, this belief grew into a range of footwear and accessories that live up to the standard ETQ stands for.</p>
                </div>
                <div class="scroll-item">
                    <h2>The storm</h2>
                    <p>With a strong focus and conceptual thinking, ETQ is driven to create aesthetic yet functional, enduring footwear that distinctively set apart from the norms. Prioritizing customer satisfaction and creating aspiring elegant quality above everything, we have successfully garnered a substantial amount of acknowledgement among them.</p>
                </div>
            </div>
        </aside>
    </section>
    <section class="about-template about-template-2 col-md-12 transform-container">
        <figure data-bottom-center="opacity:0.2" class="col-md-12" data-25p-bottom="opacity:1" style="background-image: url(https://www.etq-amsterdam.com/app/uploads/2016/02/ABOUT2.jpg);">
            <img ng-src="https://www.etq-amsterdam.com/app/uploads/2016/02/ABOUT2.jpg" imageonload="">
        </figure>
        <aside>
            <div class="vertical-center" class="col-md-12" data-bottom-center="transform: translate3d(10%,-50%,0);opacity:0" data-bottom-bottom="transform: translate3d(0%,-50%,0);opacity:1">
                <div class="scroll-item">
                    <h2>Getting serious</h2>
                    <p class="large">Smart, but yet simple designs often require a lot of energy to find and money to buy. With our vision in mind, instead of blindly searching, we decided to just grab a pen and a paper, and started designing from scratch. What we aim for is just a line of our favorite pieces that we can live in on a daily. The result is a line of footwear and accessories that are seasonless with reasonable pricing. Exactly what was lacking in the market before.</p>
                    <h2>The webstore</h2>
                    <p>Not only does ETQ aim to provide functionality in its footwear and accessories, but also aim to implement an effortless and thoughtful online service for our customers.</p>
<p>With the sole mindset of creating a new digital experience with smooth and easily understandable animation, ETQ makes online shopping so much faster with no thought needed.</p>

                </div>
            </div>
        </aside>
    </section>
</div>