<div class="home-page container main-container">

     <header class="navbar-fixed-top">
        <nav id="navBar-home" class="navBar fixed ready top-hide top"  ng-class="topNavabarStyle">
            <button role="button" class="menu" ng-click="openModal()">
                Menu<span class="label">MENU</span>
            </button>
            <span class="logo" ng-click="goHome('/')"></span>
            <aside class="cartcount show " ng-click="openCart()">{{cartProducts.cartCount}}<span class="label">BAG</span></aside>
        </nav>
        <div id="filterMenu-home" class="col-md-12 col-xs-12 filter-menu no-padding">
            <div class="col-md-4 col-xs-2 no-padding filter-buttons-container">
                <ul>
                    <li ng-click="oneRowGrid()">
                        <button data-rows="large" ng-class="oneRowActive" class="items row1 up active" ng-click="oneRowGrid()">
                            <span ng-class="oneRowActive" >1</span>
                            <span class="hover">1</span>
                        </button>
                    </li>
                    <li ng-click="twoRowGrid()"><button data-rows="medium" ng-class="twoRowActive" class="items row2  down" ng-click="twoRowGrid()">
                        <span ng-class="twoRowActive">2</span>
                        <span class="hover">2</span></button></li>
                </ul>    
            </div>
            <div class="col-md-7 col-xs-2 filter-text-container" ng-click="showFilter()">
                <p class="filter-text">filter</p>
            </div>
        </div>
       
    </header>
	    <section ng-controller="ProductsController" >
        <section class="products" >
            <div data-sidebar class="right">
            </div>
            <div id="catalog" class="container thumbs">
                <div  id="{{product.id}}" class = "catalog-product product" ui-sref="product({product_id: product.id , currencyCode: product.currencyCode })"  ng-class="productGridType" ng-repeat="product in products" >
                    <!-- <a  ng-mouseenter="showSubText(product.id)" 
                ng-mouseleave="hideSubText(product.id)"  >
                    </a> -->
                    <img  preload-image ng-src="{{product.allImages[0]}}" alt="{{product.name}}'s image" />
                    <div  class="col-md-12 col-xs-12">
                            <strong>{{product.name}}</strong>
                            

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 text-center reset-filter-container" ng-show="isFilterSet">
                <button class="btn btn-primary" ng-click="clearFilter()">Reset filter</button>
            </div>
        </section>
        <aside id="productFilter" class="home-page-filter hide">
         <div class="col-md-12 col-xs-12  close-filter-button">
            <button class="btn btn-default " ng-click="closeFilter()">Filter  
            <span class="glyphicon glyphicon-remove pull-right"></span>
            </button>
         </div>
         <div class="scrollpane">
            
            <div class="filterList">
                <div class="col-md-12 col-xs-12 info-text-filter">
                   you can select several options simultaneously
               </div>
               <div class="col-md-12 col-xs-12 accordio-container no-padding">
                  
                      <uib-accordion close-others="oneAtATime" ng-repeat="category in filterCategories">
                        <div uib-accordion-group class="panel-default" is-open="status$index.open" >
                          <uib-accordion-heading>
                              <label class="filter-heading-label">{{category.name}}<i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': status{{$index}}.open, 'glyphicon glyphicon-plus': !status{{$index}}.open}"></i></label>
                             
                          </uib-accordion-heading>
                          <div class="col-md-12 col-xs-12 accordio-checbox-container no-padding" ng-repeat="filterValue in category" ng-if="filterValue.label">
                            <label for="{{filterValue.label + $index}}" class="checkbox-accordion-label">{{filterValue.label}}
                                <input type="checkbox" name="carpet-size{{$index}}" id="{{filterValue.label  +   $index}}" value="{{filterValue.value}}" class="css-checkbox" ng-click="selectFilter(filterValue,category)" /><label for="{{filterValue.label + $index}}" class="css-label pull-right" ></label>
                            </label>
                             
                          </div>    
                        </div>
                      </uib-accordion>
               </div>
               <div class="footer-buttons-filter">
                   <div class="col-md-12 col-xs-12 clear-filter-button">
                       <button class="btn btn-primary" ng-click="clearFilter()" >Clear All</button>
                   </div>
                   <div class="col-md-12 col-xs-12 apply-filter-button">
                       <button class="btn btn-primary" ng-click="applyFilter()" >Apply</button>
                   </div>
               </div>
            </div>
         </div>
      </aside>

    </section>

    <section>
        
        <footer id="collection-footer" class="footer-bar-home footer-bar"  ng-class="closeFooter">
            <ul>
                <li ng-click="oneRowGrid()">
                    <button data-rows="large"  ng-class="oneRowActive" class="items row1 up" ng-click="oneRowGrid()">
                        <span ng-class="oneRowActive" class="row1-icon">1</span>
                        <span class="hover">1</span>
                    </button>
                </li>
                <li ng-click="twoRowGrid()"><button data-rows="medium" ng-class="twoRowActive"  class="items row2  down" ng-click="twoRowGrid()">
                    <span ng-class="twoRowActive" class="row2-icon">2</span>
                    <span class="hover">2</span></button></li>
                <li class="hide-for-small" ng-click="threeRowGrid()">
                    <button data-rows="small" ng-class="threeRowActive" class="items row4" >
                        <span >4</span>
                        <span class="hover">4</span>
                    </button>
                </li>
            </ul>

            <nav class="footerbuttons show">
                <button id="filterBtn" ng-class="filterBtn"><span>Filter <strong class="filtercount"></strong></span><span class="hover">Filter <strong class="filtercount"></strong></span></button>
            </nav>

        </footer>

        <footer id="collection-footer-ios" class="footer-bar-home footer-bar"  ng-class="closeFooter">
            <ul>
                <li ng-click="oneRowGrid()">
                    <button data-rows="large"  ng-class="oneRowActive" class="items row1 up" ng-click="oneRowGrid()">
                        <span ng-class="oneRowActive" class="row1-icon">1</span>
                        <span class="hover">1</span>
                    </button>
                </li>
                <li ng-click="twoRowGrid()"><button data-rows="medium" ng-class="twoRowActive"  class="items row2  down" ng-click="twoRowGrid()">
                    <span ng-class="twoRowActive" class="row2-icon" >2</span>
                    <span class="hover">2</span></button></li>
                <li class="hide-for-small" ng-click="threeRowGrid()">
                    <button data-rows="small" ng-class="threeRowActive" class="items row4" >
                        <span >4</span>
                        <span class="hover">4</span>
                    </button>
                </li>
            </ul>
            <nav class="footerbuttons show">
                <button id="filterBtn" ng-class="filterBtn" ng-click="showFilter()"><span>Filter <strong class="filtercount"></strong></span><span class="hover">Filter <strong class="filtercount"></strong></span></button>
            </nav>
        </footer>
    </section>

    
   
        <footer id="legalfooter" in-view="footerInView($index, $inview, $inviewInfo)" >
            <div class="inner">
                <p class="header-home">CAMIACAMINA AB</p>

                <p>SWEEDEN</p>

                <p>
                    <a href="mailto:service@abc.com" class="no-hijack">service@camicamina.com</a>
                    <br>
                    <a href="tel:+31 202 615 908" class="no-hijack">+46 8 000 000</a>
                </p>

                <ul>
                    <!-- <li>
                        <a href="#" target="_blanc"><button class="facebook"><span>
                        <i class="fa fa-facebook"></i>
                    </span><span class="hover">
                        <i class="fa fa-facebook"></i>
                    </span></button></a>
                    </li>
                    <li>
                        <a href="#" target="_blanc"><button class="instagram"><span>
                        <i class="fa fa-instagram"></i>
                    </span><span class="hover">
                        <i class="fa fa-instagram"></i>
                    </span></button></a>
                    </li>
                    <li>
                        <a href="#" target="_blanc"><button class="twitter"><span>
                        <i class="fa fa-twitter"></i>
                    </span><span class="hover">
                        <i class="fa fa-twitter"></i>
                    </span></button></a>
                    </li> -->
                </ul>
            </div>
        </footer>


</div>
