<div class="home-page container main-container">

     <!--<header class="navbar-fixed-top">-->
        <!--<nav id="navBar-home" class="navBar fixed ready top-hide top"  ng-class="topNavabarStyle">-->
            <!--<button role="button" class="menu" ng-click="openModal()">-->
                <!--Menu<span class="label">MENU</span>-->
            <!--</button>-->
            <!--<span class="logo" ng-click="goHome('/')"></span>-->
            <!--<aside class="cartcount show " ng-click="openCart()">{{cartProducts.cartCount}}<span class="label">BAG</span></aside>-->
        <!--</nav>-->
        <!--<div class="col-md-12 col-xs-12 no-padding text-center products-category">-->
            <!--ALL RUGS-->
        <!--</div>-->
    <!--</header>-->

    <div class="col-md-12 col-xs-12 home-image-container no-padding hide-xs hide-sm">

    </div>

    <div class="col-md-12 col-xs-12 filter-toolbar-container hide-xs hide-sm" bs-affix data-offset-top="980" data-offset-bottom="300">
        <md-toolbar class="md-hue-2 filter-toolbar">
            <div class="md-toolbar-tools" layout="row">

                <div class="collection-filter-label">
                    COLLECTION
                </div>
                <md-divider class="vertical-divider-filter-toolbar"></md-divider>
                <div uib-dropdown ng-hide="isMobile" click-outside="closeDropdownMenu()">
                    <button  uib-dropdown-toggle class="chose-collection-dropdown"  id="dropdown-btn" ng-click="openCategoryFilter()" >Chiaro di luna (12)<span class="caret caret-collection" id="caret-collection"></span></button>
                    <ul uib-dropdown-menu class="hide-sm hide-xs">
                        <li ng-click="chooseLang('1',$event)">Option 1 (120)</li>
                        <li ng-click="chooseLang('2',$event)">Option 2 (20)</li>
                        <li ng-click="chooseLang('1',$event)">Option 3 (30)</li>
                    </ul>
                </div>

                <span flex></span>

                <span flex></span>

                <div layout="row" class="hide-sm hide-xs" >
                    <div>
                        <span class="sort-filter-label">Sort by: </span>
                    </div>

                    <div uib-dropdown ng-hide="isMobile" click-outside="closeDropdownMenu()">
                        <button  uib-dropdown-toggle class="chose-filter-dropdown"  id="dropdown-btn" ng-click="rotateLangIcon($event)" >Latest<span class="caret caret-collection" id="caret-collection"></span></button>
                        <ul uib-dropdown-menu class="dropdown-filter">
                            <li ng-click="chooseLang('1',$event)">Option 1</li>
                            <li ng-click="chooseLang('2',$event)">Option 2</li>
                            <li ng-click="chooseLang('1',$event)">Option 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </md-toolbar>
    </div>

    <div class="col-md-12 col-xs-12 filter-toolbar-container show-sm show-xs">
        <md-toolbar class="md-hue-2 filter-toolbar">
            <div class="md-toolbar-tools" layout="row">

                <div class="collection-filter-label">
                    COLLECTION
                </div>
                <md-divider class="vertical-divider-filter-toolbar"></md-divider>
                <div uib-dropdown ng-hide="isMobile" click-outside="closeDropdownMenu()">
                    <button  uib-dropdown-toggle class="chose-collection-dropdown"  id="dropdown-btn" ng-click="openCategoryFilter()" >Chiaro di luna (12)<span class="caret caret-collection" id="caret-collection"></span></button>
                    <ul uib-dropdown-menu class="hide-sm hide-xs">
                        <li ng-click="chooseLang('1',$event)">Option 1 (120)</li>
                        <li ng-click="chooseLang('2',$event)">Option 2 (20)</li>
                        <li ng-click="chooseLang('1',$event)">Option 3 (30)</li>
                    </ul>
                </div>

                <span flex></span>

                <span flex></span>

                <div layout="row" class="hide-sm hide-xs" >
                    <div>
                        <span class="sort-filter-label">Sort by: </span>
                    </div>

                    <div uib-dropdown ng-hide="isMobile" click-outside="closeDropdownMenu()">
                        <button  uib-dropdown-toggle class="chose-filter-dropdown"  id="dropdown-btn" ng-click="rotateLangIcon($event)" >Latest<span class="caret caret-collection" id="caret-collection"></span></button>
                        <ul uib-dropdown-menu class="dropdown-filter">
                            <li ng-click="chooseLang('1',$event)">Option 1</li>
                            <li ng-click="chooseLang('2',$event)">Option 2</li>
                            <li ng-click="chooseLang('1',$event)">Option 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <div class="filter-menu-top " ng-class="openFilter">
            <md-list class="category-filter-list">
                <md-list-item class="md-3-line category-filter-list-item" ng-click="chooseCategory()">
                    <div class="md-list-item-text category-filter-text">
                        <p>All rugs</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line category-filter-list-item" ng-click="chooseCategory()">
                    <div class="md-list-item-text category-filter-text">
                        <p>SS17</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line category-filter-list-item" ng-click="chooseCategory()">
                    <div class="md-list-item-text category-filter-text">
                        <p>Chiaro di luna</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </div>

    <md-backdrop class="md-sidenav-backdrop md-opaque ng-scope close-filter-backdrop" ng-class="toggleFilterBackDrop" ng-click="closeCategoryFilter()"></md-backdrop>
    
	<div class="col-md-12 col-xs-12 no-padding" ng-controller="ProductsController" >
        <div class=" col-md-12 col-xs-12 no-padding products" >
            <div data-sidebar class="right">
            </div>
            <div id="catalog" class="container thumbs">
                <div  id="{{product.id}}" class = "col-md-4 col-xs-6 no-padding catalog-product product" ui-sref="product({product_id: product.id , currencyCode: product.currencyCode })"  ng-repeat="product in products" >
                    <img  preload-image ng-src="{{product.allImages[0]}}" alt="{{product.name}}'s image" />
                    <div  class="col-md-12 col-xs-12 no-padding text-center product-name-catalog">
                            <strong>{{product.name}}</strong>
                            
                    </div>
                    <div ng-hide="isInStockCheck(product.is_in_stock)" class="col-md-12 col-xs-12 no-padding text-center product-out-of-stock-info">
                        Out of stock
                    </div>

                    <div ng-show="isInStockCheck(product.is_in_stock)" class="col-md-12 col-xs-12 no-padding text-center product-in-stock-info">
                        More sizes available
                    </div>

                    <div class="col-md-12 col-xs-12 no-padding text-center price-text-product-catalog">
                        Starting from &euro; 1.500
                    </div>
                </div>
                <div  id="{{product.id}}" class = "col-md-4 col-xs-6 no-padding catalog-product product" ui-sref="product({product_id: product.id , currencyCode: product.currencyCode })"  ng-repeat="product in products" >
                    <img  preload-image ng-src="{{product.allImages[0]}}" alt="{{product.name}}'s image" />
                    <div  class="col-md-12 col-xs-12 no-padding text-center product-name-catalog">
                        <strong>{{product.name}}</strong>

                    </div>
                    <div ng-hide="isInStockCheck(product.is_in_stock)" class="col-md-12 col-xs-12 no-padding text-center product-out-of-stock-info">
                        Out of stock
                    </div>

                    <div ng-show="isInStockCheck(product.is_in_stock)" class="col-md-12 col-xs-12 no-padding text-center product-in-stock-info">
                        More sizes available
                    </div>

                    <div class="col-md-12 col-xs-12 no-padding text-center price-text-product-catalog">
                        Starting from &euro; 1.500
                    </div>
                </div>
                <div  id="{{product.id}}" class = "col-md-4 col-xs-6 no-padding catalog-product product" ui-sref="product({product_id: product.id , currencyCode: product.currencyCode })"  ng-repeat="product in products" >
                    <img  preload-image ng-src="{{product.allImages[0]}}" alt="{{product.name}}'s image" />
                    <div  class="col-md-12 col-xs-12 no-padding text-center product-name-catalog">
                        <strong>{{product.name}}</strong>

                    </div>
                    <div ng-hide="isInStockCheck(product.is_in_stock)" class="col-md-12 col-xs-12 no-padding text-center product-out-of-stock-info">
                        Out of stock
                    </div>

                    <div ng-show="isInStockCheck(product.is_in_stock)" class="col-md-12 col-xs-12 no-padding text-center product-in-stock-info">
                        More sizes available
                    </div>

                    <div class="col-md-12 col-xs-12 no-padding text-center price-text-product-catalog">
                        Starting from &euro; 1.500
                    </div>
                </div>
                <div  id="{{product.id}}" class = "col-md-4 col-xs-6 no-padding catalog-product product" ui-sref="product({product_id: product.id , currencyCode: product.currencyCode })"  ng-repeat="product in products" >
                    <img  preload-image ng-src="{{product.allImages[0]}}" alt="{{product.name}}'s image" />
                    <div  class="col-md-12 col-xs-12 no-padding text-center product-name-catalog">
                        <strong>{{product.name}}</strong>

                    </div>
                    <div ng-hide="isInStockCheck(product.is_in_stock)" class="col-md-12 col-xs-12 no-padding text-center product-out-of-stock-info">
                        Out of stock
                    </div>

                    <div ng-show="isInStockCheck(product.is_in_stock)" class="col-md-12 col-xs-12 no-padding text-center product-in-stock-info">
                        More sizes available
                    </div>

                    <div class="col-md-12 col-xs-12 no-padding text-center price-text-product-catalog">
                        Starting from &euro; 1.500
                    </div>
                </div>
                <div  id="{{product.id}}" class = "col-md-4 col-xs-6 no-padding catalog-product product" ui-sref="product({product_id: product.id , currencyCode: product.currencyCode })"  ng-repeat="product in products" >
                    <img  preload-image ng-src="{{product.allImages[0]}}" alt="{{product.name}}'s image" />
                    <div  class="col-md-12 col-xs-12 no-padding text-center product-name-catalog">
                        <strong>{{product.name}}</strong>

                    </div>
                    <div ng-hide="isInStockCheck(product.is_in_stock)" class="col-md-12 col-xs-12 no-padding text-center product-out-of-stock-info">
                        Out of stock
                    </div>

                    <div ng-show="isInStockCheck(product.is_in_stock)" class="col-md-12 col-xs-12 no-padding text-center product-in-stock-info">
                        More sizes available
                    </div>

                    <div class="col-md-12 col-xs-12 no-padding text-center price-text-product-catalog">
                        Starting from &euro; 1.500
                    </div>
                </div>
            </div>
        </div>
    </div>
   
        <footer class="col-md-12 col-xs-12 no-padding" id="legalfooter" >
            <div class="inner">
                <div class="footer-logo"></div>
                <div class="col-md-12 col-xs-12 text-center pale-blue-footer-text">&copy 2016 Camicamina AB. - All rights reserved.</div>
                <div class="col-md-12 col-xs-12 text-center pale-blue-footer-text">VAT nr SE559015737501. Company nr. 559015-7375</div>
            </div>
        </footer>


</div>
