<div class="home-page container main-container">
    <section ng-controller="ProductsController" >
        <section class="products" >
            <div data-sidebar class="right">
                <!--<section class="currencies" ng-controller="CurrenciesController" ng-hide="currencies.length <= 1">-->
                    <!--<h3>Currencies</h3>-->
                    <!--<ul>-->
                        <!--<li ng-repeat="model in currencies | orderBy: 'code'" ng-class="{active: currency == model}">-->
                            <!--<span class="symbol">{{model.symbol}}</span>-->
                            <!--<a ng-click="setCurrency(model)">{{model.code}}</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</section>-->
            </div>
            <div id="catalog" class="container thumbs">
                <div id="{{product.id}}" class = "catalog-product product"  ng-class="productGridType" ng-repeat="product in products" ng-click="openProduct(product.id)">
                    <a data-path="#product/{{product.id}}/{{product.currencyCode}}" ng-mouseenter="showSubText(product.id)" 
                ng-mouseleave="hideSubText(product.id)" ui-sref="product({product_id: {{product.id}} , 
                 currencyCode: {{product.currencyCode}} })" href="/product/{{product.id}}/{{product.currencyCode}}">
                    </a>
                    <img ng-src="{{product.allImages[0]}}" alt="{{product.name}}'s image" />
                    <span class="hover">
                            <strong>Low 4</strong>
                            {{product.name}}

                </span>
                </div>
            </div>
        </section>

    </section>

    <section>
        
        <footer id="collection-footer" class="footer-bar-home footer-bar"  ng-class="closeFooter">
            <ul>
                <li ng-click="oneRowGrid()">
                    <button data-rows="large"  ng-class="oneRowActive" class="items row1 up" ng-click="oneRowGrid()">
                        <span ng-class="oneRowActive">1</span>
                        <span class="hover">1</span>
                    </button>
                </li>
                <li ng-click="twoRowGrid()"><button data-rows="medium" ng-class="twoRowActive"  class="items row2  down" ng-click="twoRowGrid()">
                    <span >2</span>
                    <span class="hover">2</span></button></li>
                <li class="hide-for-small" ng-click="threeRowGrid()">
                    <button data-rows="small" ng-class="threeRowActive" class="items row4" >
                        <span >4</span>
                        <span class="hover">4</span>
                    </button>
                </li>
            </ul>

           <!--  <nav class="footerbuttons show">
                <button id="filterBtn" class=""><span>Filter <strong class="filtercount"></strong></span><span class="hover">Filter <strong class="filtercount"></strong></span></button>
            </nav> -->
        </footer>

        <footer id="collection-footer-ios" class="footer-bar-home footer-bar"  ng-class="closeFooter">
            <ul>
                <li ng-click="oneRowGrid()">
                    <button data-rows="large"  ng-class="oneRowActive" class="items row1 up" ng-click="oneRowGrid()">
                        <span ng-class="oneRowActive">1</span>
                        <span class="hover">1</span>
                    </button>
                </li>
                <li ng-click="twoRowGrid()"><button data-rows="medium" ng-class="twoRowActive"  class="items row2  down" ng-click="twoRowGrid()">
                    <span >2</span>
                    <span class="hover">2</span></button></li>
                <li class="hide-for-small" ng-click="threeRowGrid()">
                    <button data-rows="small" ng-class="threeRowActive" class="items row4" >
                        <span >4</span>
                        <span class="hover">4</span>
                    </button>
                </li>
            </ul>

           <!--  <nav class="footerbuttons show">
                <button id="filterBtn" class=""><span>Filter <strong class="filtercount"></strong></span><span class="hover">Filter <strong class="filtercount"></strong></span></button>
            </nav> -->
        </footer>
      
       
    </section>

   
        <footer id="legalfooter" in-view="footerInView($index, $inview, $inviewInfo)" >
            <div class="inner">
                <p class="header-home">Camicamina</p>

                <p>Singel 459<br>
                    1012 WP NYC<br>
                    USA</p>

                <p>
                    <a href="mailto:service@abc.com" class="no-hijack">service@camicamina.com</a>
                    <br>
                    <a href="tel:+31 202 615 908" class="no-hijack">+31 202 615 908</a>
                </p>

                <ul>
                    <li>
                        <a href="#" target="_blanc"><button class="facebook"><span>
                        <i class="fa fa-facebook"></i>
                    </span><span class="hover">
                        <i class="fa fa-facebook"></i>
                    </span></button></a>
                    </li>
                    <li>
                        <a href="#" target="_blanc"><button class="instagram"><span>
                        <i class="fa fa-instagram"></i>
                    </span><span class="hover">
                        <i class="fa fa-instagram"></i>
                    </span></button></a>
                    </li>
                    <li>
                        <a href="#" target="_blanc"><button class="twitter"><span>
                        <i class="fa fa-twitter"></i>
                    </span><span class="hover">
                        <i class="fa fa-twitter"></i>
                    </span></button></a>
                    </li>
                </ul>
            </div>
        </footer>


</div>