

 <header class="navbar-fixed-top" >
        <nav id="navBar-intro" class="navBar fixed ready top-hide top" >
            <span class="intro-logo" ng-class="topNavbarLogoStyle" ></span>  
        </nav>
 </header>


<div class="container-fluid main-intro-conainer" ng-controller="IntroPageController">

	<!-- <div class="row">
		<div class="col-md-12 col-xs-12 text-center country-select ">
		 <div class="input-group">
	      <div class="input-group-addon">Store</div>
	          <select id="billing_country" name="billing_country" class="cleaninput border-bottom intro-page-currency ui-trigger_checkout_update ui-country-select" required="true" ng-model="currencyCode"  ng-change="currencyCodeFunc(countryCode)">
                        <option value="SEK">Sweeden</option>
                        <option value="EUR">Rest of Europe</option>
                    </select>
	    </div>
		<div class="input-group language">
	      <div class="input-group-addon">language</div>
	          <select id="language" name="language" class="cleaninput border-bottom intro-page-currency ui-trigger_checkout_update ui-country-select" required="true" ng-model="language"  ng-change="language(lang)">
                        <option value="SEK">SVENSKA</option>
                        <option value="EUR">Rest of Europe</option>
                    </select>
	    </div>	
		</div>
		<div class="col-md-12 col-xs-12 text-center country-submit">
			<button id="onestepcheckout-place-order" type="submit" ng-click="enterSite()" class="onestepcheckout-place-order ui-submit-checkout intro-page-button">
                                    <span><strong>Enter</strong></span>
                              </button>		</div>
                              
	</div> -->

	
		<div class="col-md-12 col-xs-12  center-vertically no-padding" ng-show="toShowBlue">

		<form ng-submit="saveEmail()">
			<div class="col-md-12 col-xs-12 info-intro-text-container ">

				<div class="col-md-12 col-xs-12 text-center welcome-title" >
				welcome to camicamina
				</div>
				<div class="col-md-12 col-xs-12 text-center welcome-opening" >
					opening this december
				</div>
				<div class="col-md-12 col-xs-12 text-center welcome-sub-opening">
					Sign up for our prelaunch sale
				</div>
			</div>

			<div class="col-md-12 col-xs-12 button-container">
				<!-- <div class="alert alert-warning myAlert" ng-show="showAlert">
				  Please enter your email.
				</div> -->
				<div class="col-md-12 col-xs-12 no-padding text-center">
					<input type="text" ng-focus="focusInput()" ng-blur="blurInput()" ng-model="emailInput" class="email-input" name="client-email  ng-class="blink" placeholder="{{somePlaceholder}}" ng-class="blink"/>
				</div>
				
				<input type="submit" class=" form-control signup-btn" value="Sign up" />
			</div>
				</form>
		</div>



		<div class="col-md-12 col-xs-12  center-vertically no-padding" ng-show="toShowNew">
			<div class="col-md-12 col-xs-12 info-intro-text-container ">
				<div class="col-md-12 col-xs-12 text-center thanks-text" >
					thank you!
				</div>
			</div>
		</div>

	





</div>