



<div class="container-fluid main-intro-conainer" ng-click="closeDropdownMenu()" ng-controller="IntroPageController">

<!-- Small modal -->

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

 <div class="col-md-12 col-xs-12" >
        <nav id="navBar-intro" class="navBar ready top-hide top" >
            <span class="intro-logo" ng-class="topNavbarLogoStyle" ></span>  
        </nav>
 </div>


	<div class="row">
		<div class="col-md-12 col-xs-12 text-center country-select ">
		 <div class="input-group">
	      <div class="input-group-addon">Store</div>
	      		<select ng-show="isMobile" id="billing_country" name="billing_country" class="cleaninput border-bottom intro-page-currency ui-trigger_checkout_update ui-country-select" required="true" ng-model="currencyCode" ng-class="chooseCountryClass"  >
	      				<option class="billing_country_option" value="" disabled selected>Select your country</option>
                        <option  class="billing_country_option"value="SEK">Sweeden</option>
                        <option  class="billing_country_option"value="EUR">Rest of Europe</option>
                    </select>
                    <div uib-dropdown ng-hide="isMobile" >
				    <button uib-dropdown-toggle data-toggle="dropdown" class="countryDropdownButton" ng-click="rotateCountryIcon($event)">{{choosenCountry}}<span class="caret" id="country-caret"></span></button>
				    <ul uib-dropdown-menu>
				        <li ng-click="chooseACountry('SEK',$event)">Sweeden</li>
				        <li ng-click="chooseACountry('EUR',$event)">Rest of europe</li>
				        <li ng-click="chooseACountry('SEK',$event)">Sweeden</li>
				        <li ng-click="chooseACountry('EUR',$event)">Rest of europe</li>
				        <li ng-click="chooseACountry('SEK',$event)">Sweeden</li>
				        <li ng-click="chooseACountry('EUR',$event)">Rest of europe</li>
				        <li ng-click="chooseACountry('SEK',$event)">Sweeden</li>
				        <li ng-click="chooseACountry('EUR',$event)">Rest of europe</li>
				        <li ng-click="chooseACountry('SEK',$event)">Sweeden</li>
				        <li ng-click="chooseACountry('EUR',$event)">Rest of europe</li>
				        <li ng-click="chooseACountry('SEK',$event)">Sweeden</li>
				        <li ng-click="chooseACountry('EUR',$event)">Rest of europe</li>
				        <li ng-click="chooseACountry('SEK',$event)">Sweeden</li>
				        <li ng-click="chooseACountry('EUR',$event)">Rest of europe</li>
				        <li ng-click="chooseACountry('SEK',$event)">Sweeden</li>
				        <li ng-click="chooseACountry('EUR',$event)">Rest of europe</li>
				        <li ng-click="chooseACountry('SEK',$event)">Sweeden</li>
				        <li ng-click="chooseACountry('EUR',$event)">Rest of europe</li>
				    </ul>
				</div>
	          
	    </div>
		<div class="input-group language">
	      <div class="input-group-addon">language</div>

	          <select ng-show="isMobile" id="language" name="language" class="cleaninput border-bottom intro-page-currency ui-trigger_checkout_update ui-country-select" required="true" ng-class="chooseLangagueClass"  ng-model="storeId">
                         <option value="2">SVENSKA</option>
                        <option value="" disabled selected>Select your language</option>
                        <option value="1">English</option>
                     </select> 

             <div uib-dropdown ng-hide="isMobile" click-outside="closeDropdownMenu()">
				    <button  uib-dropdown-toggle class="langDropdownbutton"  id="dropdown-btn" ng-click="rotateLangIcon($event)" >{{choosenLang}}<span class="caret" id="lang-caret"></span></button>
				    <ul uib-dropdown-menu>
				        <li ng-click="chooseLang('1',$event)">Svenska</li>
				        <li ng-click="chooseLang('2',$event)">English</li>
				        <li ng-click="chooseLang('1',$event)">Svenska</li>
				        <li ng-click="chooseLang('2',$event)">English</li>
				        <li ng-click="chooseLang('1',$event)">Svenska</li>
				        <li ng-click="chooseLang('2',$event)">English</li>
				        <li ng-click="chooseLang('1',$event)">Svenska</li>
				        <li ng-click="chooseLang('2',$event)">English</li>
				        <li ng-click="chooseLang('1',$event)">Svenska</li>
				        <li ng-click="chooseLang('2',$event)">English</li>
				    </ul>
				</div>
	    </div>	
		</div>
		<div class="col-md-12 col-xs-12 text-center country-submit">
			<button id="onestepcheckout-place-order" type="submit" ng-click="enterSite()" class="onestepcheckout-place-order ui-submit-checkout intro-page-button">
                                    <span><strong>Enter</strong></span>
                              </button>		</div>
                              
	</div>	

</div>

<style>

body{
	overflow-y: hidden !important;
}

 html {
     height: 100% !important;
    background-color: rgb(243,243,243) !important;
}

	

.countryDropdownButton {
    height: 60px;
    text-align: left;
    color: #003594;
    text-transform: uppercase;
    width: 100%;
    background: rgba(255, 255, 255, 0.69);
    padding-left:  15px;
    font-size: 12.99px;
}

.langDropdownbutton{
	height: 60px;
    text-align: left;
    color: #003594;
    text-transform: uppercase;
    width: 100%;
    background: rgba(255, 255, 255, 0.69);
    padding-left:  15px;
    font-size: 12.99px;
}

.caret {
    float: right;
    display: inline-block;
    width: 0;
    top: 23px;
    right: 15px;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    margin-top: 5px;
}

.dropdown-menu{
	padding: 0px !important;
	background: transparent;
	text-align: left;
	width: 100%;
	border-radius: 0px;
	color: #003594;
	border: none;
	border-left: 1px solid white;
	max-height: 245px;
	overflow: auto;
}

.dropdown-menu::-webkit-scrollbar {
    width: 12px;
}
 
.dropdown-menu::-webkit-scrollbar-track {
    background: white;
    width: 2px !important;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
.dropdown-menu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #babec7 ; 
    width: 2px !important;
    /* -webkit-box-shadow: inset 0 0 2px #f2e5e5;  */
}
.dropdown-menu::-webkit-scrollbar-thumb:window-inactive {
	background: #f2e5e5 
}         

.dropdown-menu li:hover{
	cursor: pointer;
	background: #f2e5e5 !important;
	color: #003594 !important;
}

.dropdown-menu li{
	padding: 15px;
	color: #003594;
	background: white;
	text-transform: uppercase;
}

@media (max-width: 480px){
	.countryDropdownButton {
	    font-size: 11.99px;
	}
	.langDropdownbutton{
	    font-size: 12px;
	}
}

@media (max-width: 370px){
	.countryDropdownButton {
	    font-size: 10px;
	}

	.langDropdownbutton{
	    font-size: 10px;
	}
}


</style>