<div class="lookbook-page" style="opacity:1" ng-controller="LookBookController" ng-show="isLoading">
<div class="transform-container">
	<figure ng-repeat="lookBook in products" class="lookbook-image" ng-click = "goToProduct(lookBook.id)" ng-style="{ 'background-image': 'url({{ lookBook.allImages[0] }})' }" id="{{ $index }}" prId="{{ lookBook.id }}" ></figure>
</div>

<footer class="footer-bar single-footer" id="lookFooter"  ng-class="closeFooter">
     <ul class="hide-for-small">
        <li class="hide-for-medium-portrait product-li" id="prev">
           <button role="button" class="items prev" ng-click="scrollToPreviousImage()" ><span>+</span><span class="hover">-</span></button>
        </li>
        <li class="hide-for-medium-portrait product-li" id="next">
           <button role="button" class="items next"  ng-click="scrollToNextImage()" ><span>+</span><span class="hover">-</span></button>
        </li>
        <li ng-click="viewProduct()">
            <button role="button" id="viewBtn" data-href="https://www.etq-amsterdam.com/shop/low-5-white/"><span>View</span><span class="hover"></span></button>
        </li>
     </ul>
  </footer>

</div>