<div class="page product-page col-md-12 col-xs-12 no-padding main-container"  ng-init="productsControllerInit" id="mainId" ng-click="closeModal" style="opacity: 1;" ng-controller="ProductController" ng-init="init()">
   <div class="page product-page col-md-12 col-xs-12 no-padding" style="opacity: 1;">
      <section class="product-container col-md-12 col-xs-12 no-padding">
         <div class="content text-center">
            <div class="transform-container">
               <div class="col-md-6 no-padding col-xs-12 text-center" data-images="{{imageNumber}}" id="image-container">
                  <div class="col-md-12 col-xs-12" ng-repeat="slide in slides" id="figure{{$index}}" >
                     <img src="{{ slide.image }}">
                  </div>
               </div>
               <div class="col-md-6 col-xs-6 hide-when-small">
               </div>
               <!--<div class="image-container"  ng-class="imageContainerZoomClass"  data-images="{{imageNumber}}"; style="-->
               <!--transform: matrix3d(0.65,0,0.00,0,0.00,0.65,0.00,0,0,0,1,0,0,0,0,1); -webkit-transform: matrix3d(0.65,0,0.00,0,0.00,0.65,0.00,0,0,0,1,0,0,0,0,1);" id="image-container">-->
               <!--<figure class="ready onscreen slides" ng-repeat="slide in slides" ng-click = "zoomIn($event)" id="figure{{$index}}" preload-bg-image="{{ slide.image }}"  ng-style="{ background: 'url({{ slide.image }})' }">-->
               <!--<img src="{{slide.image}}" data-small="{{slide.image}}">-->
               <!--<div class="hover " id={{$index}}></div>-->
               <!--</figure>-->
               <!--  <div class="col-md-6 col-xs-12  "  ng-repeat="slide in slides">
                  <img src="{{ slide.image }}" />
                  <div class="hover " id={{$index}}></div>
                  </div> -->
            </div>
         </div>
         <aside class="info fixed ready hide-when-small" id="info">
            <div class="info columns  col-md-12 ready">
               <div class="col-md-12 col-xs-12 no-padding">
                  <h2 class="">{{product.name}}
                  </h2>
                  <!--  <span class="price">
                     {{product.currencySymbol + " " + product.price}}
                     </span> -->
                  <h4 class="free-delivery-title"  > Free worldwide delivery </h4>
               </div>
               <p class="delivery-desc">Read out <a href="#">Delivery & Returns</a> for more info.</p>
               <div class="product-desc col-md-12 col-xs-12 no-padding" >
                  {{product.longDescription}}
               </div>
               <h4 class="free-delivery-title"  > Designer </h4>
               <p  >{{product.designer}}</p>
               <h4 class="free-delivery-title"  > Material </h4>
               <p  >{{product.material}}</p>
               <h4 class="free-delivery-title"  > Technique </h4>
               <p  >{{product.mTechnique}}</p>
               <h4 class="free-delivery-title"  > Handmade in </h4>
               <p  >{{product.mCountry}}</p>
            </div>
            <div class="col-md-12 col-xs-12 product-info no-padding" >
               <button class="btn btn-default product-info-btn" ng-click="showProductInfo()">Product information <span class="glyphicon glyphicon-chevron-right pull-right"></span></button>
            </div>
         </aside>
         <div class="transform-container ">
            <div class="js-margin" style="z-index: 0; transform: matrix(1, 0, 0, 1, 0, 0);">
               <div id="fitImages">
               </div>
            </div>
         </div>
         <div class="transform-container col-md-12 col-xs-12 product-info-small show-when-small">
            <div class="info columns  col-md-12 ready">
               <div class="col-md-12 text-center col-xs-12 no-padding">
                  <h2 class="product-title">{{product.name}}
                  </h2>
                  <!--  <span class="price">
                     {{product.currencySymbol + " " + product.price}}
                     </span> -->
                  <div class="col-md-12 col-xs-12 no-padding horizontal-product-divider"></div>
                   <div class="col-md-12 col-xs-12 no-padding sizes-container">
                       <button class="btn btn-primary select-size-btn" >
                           <!--<option selected>asdasd</option>-->
                           <!--<option ng-repeat="childProdct in product.childProducts" value="{{childProdct.size}}">-->
                           <!--{{childProdct.size}}-->
                           <!--</option>-->

                           Select size

                       </button>

                       <!--<div class="col-md-12 col-xs-12 sizes-dropdown no-padding">-->
                           <!--<md-list class="category-filter-list">-->
                               <!--<md-list-item class="md-3-line category-filter-list-item" ng-repeat="childProdct in product.childProducts" ng-click="null">-->
                                   <!--<div class="md-list-item-text category-filter-text" >-->
                                       <!--<p>{{childProdct.size}}</p>-->
                                   <!--</div>-->
                                   <!--<md-divider ng-if="!$last"></md-divider>-->
                               <!--</md-list-item>-->
                           <!--</md-list>-->
                       <!--</div>-->
                   </div>
                  <div class="col-md-12 col-xs-12 no-padding horizontal-product-divider"></div>
               </div>
               <div class="product-desc col-md-12 col-xs-12"  >
                  {{product.longDescription}}
               </div>
               <!-- TODO: add product details and delivery and returns for all projects-->
            </div>
         </div>
         <div class="col-md-12 col-xs-12 no-padding product-accordion-container">
            <button class="accordion-button-products" ng-click="toggleProductAccordion($event,'productDetails')">Product details <span class="pull-right accordion-product-icon"></span></button>
            <div class="col-md-12 col-xs-12 product-accordion-content" id="productDetails">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum mattis mi, sed finibus purus semper sed.
               Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent placerat
               vulputate tellus. Morbi rhoncus ac urna id luctus. Phasellus at augue molestie, facilisis risus et, posuere quam.
               Nulla vulputate felis ac est laoreet, id pellentesque odio luctus. Quisque nec lectus id ex finibus faucibus. Sed sodales vulputate turpis,
               ac aliquam nibh malesuada vitae. Sed vitae posuere elit. Pellentesque ultricies ligula nec nisi dictum, at egestas erat faucibus.
            </div>
            <button class="accordion-button-products" ng-click="toggleProductAccordion($event,'deliveryAndReturn')">Delivery & returns <span class="pull-right accordion-product-icon"></span></button>
            <div class="col-md-12 col-xs-12 product-accordion-content" id="deliveryAndReturn">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum mattis mi, sed finibus purus semper sed.
               Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent placerat
               vulputate tellus. Morbi rhoncus ac urna id luctus. Phasellus at augue molestie, facilisis risus et, posuere quam.
               Nulla vulputate felis ac est laoreet, id pellentesque odio luctus. Quisque nec lectus id ex finibus faucibus. Sed sodales vulputate turpis,
               ac aliquam nibh malesuada vitae. Sed vitae posuere elit. Pellentesque ultricies ligula nec nisi dictum, at egestas erat faucibus.
            </div>
         </div>
         <div class="col-md-12 col-xs-12 text-center">
            <h2 class="related-products-title">You may also like</h2>
         </div>
         <div class="scroll-container hide-when-small col-md-12 col-xs-12 no-padding">
            <ul>
               <li class="onscreen" ng-repeat="sl in slides" style="background-image: url({{sl.image}});"><a href="#"></a></li>
            </ul>
         </div>
         <div class="show-when-small col-md-12 col-xs-12 text-center rp_image_container" id="rp_image_container">
            <div class="col-md-12 col-xs-12" ng-repeat="slide in slides" id="figureRElated{{$index}}" >

               <div class="text-center"><img src="{{ slide.image }}"></div>
                <div>Chiaro di luna</div>
            </div>
         </div>
          <div class="col-md-12 col-xs-12 no-padding">
              <button class="back-top-btn" ng-click="scrollToTop()">Back to top</button>
          </div>
   </div>
   </section>
   <!--<div class="exp-panel__bg " ng-class="productInfoClass"></div>-->
   <!--<div class="exp-panel  " ng-class="productInfoClass" js-hook="panel">-->
      <!--<button class="btn btn-default back-btn-product-info" ng-click="closeProductInfo()">-->
         <!--<span class="glyphicon glyphicon-chevron-left pull-left"></span>-->
         <!--PRODUCT INFORMATION-->
      <!--</button>-->
      <!--<div class="exp-panel__body" id="expContentPanelBody_default">-->
         <!--<div class="exp-panel__body-content" js-hook="panelBody" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">-->
            <!--<div class="container">-->
               <!--<div class="col-md-12 col-xs-12 product-info-text">-->
                  <!--{{productInformation}}-->
               <!--</div>-->
            <!--</div>-->
         <!--</div>-->
      <!--</div>-->
   <!--</div>-->
   <footer class="col-md-12 col-xs-12 no-padding" id="legalfooter" >
      <div class="inner">
         <div class="footer-logo"></div>
         <div class="col-md-12 col-xs-12 text-center pale-blue-footer-text">&copy 2016 Camicamina AB. - All rights reserved.</div>
         <div class="col-md-12 col-xs-12 text-center pale-blue-footer-text">VAT nr SE559015737501. Company nr. 559015-7375</div>
      </div>
   </footer>
</div>