<aside id="sidemenu" class="sidemenu">
    <div>
        <h3>Menu</h3>
        <nav role="navigation" ng-controller="FiltersController">
            <ul ng-controller="AccountController">
                <li ng-class="collection" id="side1" ng-click="goHome('/')" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-190">Collection</li>
                <li ng-class="lookbook" ng-click="goHome('/lookbook')" id="side2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188">Lookbook</li>
                <li  ng-class="about" id="side4" ng-click="goHome('/about')" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189">About</li>
                <li ng-class="service" id="side5" ng-click="goHome('/service')" id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191">Customer Care</a></li>

            </ul>
        </nav>
    </div>
    <footer ng-class="sidemenuFooterOpen">
        <a href="https://www.facebook.com/etqams" target="_blanc">
            <button class="facebook"><span><i class="fa fa-facebook"></i></span></button>
        </a>
        <a href="https://www.instagram.com/etqamsterdam" target="_blanc">
            <button class="instagram"><span><i class="fa fa-instagram"></i></span></button>
        </a>
        <a href="https://twitter.com/ETQAmsterdam" target="_blanc">
            <button class="twitter"><span><i class="fa fa-twitter"></i></span></button>
        </a>
    </footer>
</aside>

<!-- <div  class="sidebarmenu" ng-class="openSidemenu" >
    <h3>MENU</h3>
    <ul class="left-sidebar-menu" ng-controller="AccountController">

        <li ng-class="collection" id="side1" ng-click="goHome('/')">Collection</li>
        <li ng-class="lookbook" ng-click="goHome('/lookbook')" id="side2">Lookbook</li>
        <li ng-class="about" id="side4" ng-click="goHome('/about')">about</li>
        <li ng-class="service" id="side5" ng-click="goHome('/service')">Customer Care</li>
        <li ng-class="side5" id="side6">Login</li>
    </ul>

</div>
<footer ng-class="sidebar_footer_class">
    <a href="https://www.facebook.com/etqams" target="_blanc">
        <button class="facebook"><span><i class="fa fa-facebook"></i></span><span class="hover"><i class="fa fa-facebook"></i></span></button>
    </a>
    <a href="https://www.instagram.com/etqamsterdam" target="_blanc">
        <button class="instagram"><span><i class="fa fa-instagram"></i></span><span class="hover"><i class="fa fa-instagram"></i></span></button>
    </a>
    <a href="https://twitter.com/ETQAmsterdam" target="_blanc">
        <button class="twitter"><span><i class="fa fa-twitter"></i></span><span class="hover"><i class="fa fa-twitter"></i></span></button>
    </a>
</footer> -->
