section.products {
    width: 100%;
    overflow: hidden;
    margin: auto;
    margin-right: 12.5%;
    text-align: center;
    -webkit-transition: all 1.25s;
}

.catalog-product{
    min-height: 40%;
    display: block;
    position: relative;

    overflow: hidden;
    cursor: default;
    border: 0;
    box-shadow: none;
}


.catalog-product img {
    top: -6%;
    width: 82%;
    left: 10%;
    height: auto;
}
 .thumbs{
    padding: 0 30px;
}

section.products.filters-open {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

section.products.modal-open {
    margin-right: 40%;
    -webkit-filter: blur(1px);
}


section.products.modal-open > *,
section.products.filters-open > * {
    pointer-events: none;
    cursor: default;
}

section.products div.models {
    font-weight: 100;
    display: inline-block;
    color: #a9a9a9;
    font-size: 16px;
    cursor: help;
    float: right;
    border-bottom: 3px solid rgba(0, 0, 0, .1);
    font-family: "Source Sans Pro", sans-serif;
}

section.products div.response-time {
    float: right;
    font-weight: 100;
    color: #a9a9a9;
    font-size: 16px;
    cursor: help;
    border-bottom: 3px solid rgba(0, 0, 0, .1);
    font-family: "Source Sans Pro", sans-serif;
}

section.products div.sorting {
    font-family: "Source Sans Pro", sans-serif;
    border-bottom: 3px solid rgba(0, 0, 0, .1);
    display: inline-block;
    padding: 0 0 8px 0;
}

section.products div.sorting label {
    float: left;
    padding: 3px 6px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 5px;
    background: -webkit-linear-gradient(top, #efefef 0%, #e0e0e0 100%);
}

section.products div.sorting ul.properties {
    overflow: hidden;
    float: left;
    height: 22px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.products div.sorting ul.properties li {
    float: left;
    overflow: hidden;
    padding: 1px 5px 0 5px;
    text-transform: capitalize;
}

section.products div.sorting ul.properties li span.direction {
    color: #a9a9a9;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}

section.products div.sorting ul.properties li a {
    cursor: pointer;
}

section.products div.paging a {
    cursor: pointer;
    text-decoration: none;
}

section.products ul.collection {
    /* margin: 50px auto; */
    overflow: hidden;
    list-style-type: none;
}

section.products ul.collection li {
    height: 40%;
    width: 40%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: default;
    border: 0;
    box-shadow: none;
}

section.products ul.collection li img {
    width: 84%;
    top: 0;
    left: 8%;
}

section.products ul.collection li.loading,
section.products ul.collection li.all-gone {
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

section.products ul.collection li.loading img {
    margin-top: -3px;
}

section.products ul.collection li.loading label,
section.products ul.collection li.all-gone label {
    font-weight: 200;
    padding-left: 6px;
}

section.products ul.collection li img {
    max-width: 100%;
    max-height: 160px;
}

section.products ul.collection li h2 {
    line-height: 10px;
    min-height: 34px;
}

section.products ul.collection li h2 a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
}

section.products ul.collection li h2 a:hover {
    color: black;
}

section.products ul.collection li div.price {
    font-weight: 800;
}

section.products div.right {
    position: fixed;
    right: 50px;
    z-index: 2;
    padding-top: 30px;
}

.product-page .product-container .content .image-container {
    margin-bottom: -130% !important;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    margin-left: 0;
}

.product-page .product-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

 figure  > img {
     width:100%;
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
}

@media only screen and (min-width: 63.813em){
    .product-page .product-container figure {
        width: 100%;
        height: 90%;
    }
}

.product-page .product-container figure {
    display: block;
    position: relative;
    background-size: cover;
    margin: 0;
    padding: 0;
}


.product-page .product-container .image-container {
    position: relative;
    height: auto!important;
    margin-top: 54px;
    margin-left: 2%;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0;
    -webkit-transform: scale3d(.6,.6,.6);
}


.touchevents .product-page aside.info, .touchevents .product-page aside.info.fixed {
    position: absolute!important;
    width: 224px;
    top: 90px;
    bottom: auto;
    margin: 0;
    right: 67px!important;
    text-align: left!important;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.645,.045,.355,1);
}

.product-page aside.info.fixed {
    top: 50%;
    bottom: auto;
    position: fixed;
    left: auto;
    margin-top: -25px;
    -webkit-transform: translate(0,-160px);
}

.product-page .info.ready {
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-width: 63.813em){
    .product-page aside.info {
        display: block;
        visibility: visible;
    }
}

.product-page aside.info {
    display: block;
    position: absolute;
    -webkit-transition: right .5s cubic-bezier(.645,.045,.355,1),opacity .5s cubic-bezier(.645,.045,.355,1);
    width: 288px;
    opacity: 0;
    z-index: 3;
    top: auto;
    bottom: 100px;
    right: 92px;
    text-align: left!important;
    padding-bottom: 1px;
    -webkit-transition-delay: 0s;
}

.single-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 380px);
    height: 100%;
    background: 0 0;
    visibility: hidden;
}

.product-page .info span.price {
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.product-page .info h2 small {
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    letter-spacing: .38rem;
    font-size: 1.1rem;
}

.product-page .info h2 {
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    font-weight: bold;
    color: #000;
    letter-spacing: .38rem;
    font-size: 16px;
    line-height: 2rem;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.product-page .info p {
    font-family: 'AvenirNext LT Pro Regular',Arial,Helvetica;
    font-weight: lighter;
    text-transform: none;
    letter-spacing: 0;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px;
}

.footer-bar li .items.back span {
    background-size: 11px;
    background-image: url('../../images/svg/cancel.svg');
}

.footer-bar li .items.back span:hover {
    background-color: white;
}

.footer-bar {
    display: block;
    position: fixed;
    -webkit-transition: opacity 450ms cubic-bezier(.455,.03,.515,.955),visibility 450ms cubic-bezier(.455,.03,.515,.955),-webkit-transform 550ms cubic-bezier(.455,.03,.515,.955);
    bottom: 0;
    left: 0;
    right: 0;
    height: 54px;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    z-index: 20;
    -webkit-transform: translateY(0);
}

p {
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}


.slider {
    display: none;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    margin-top: 20px;
}

.slider img {
    width:100%;
    height:100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url('../../images/blank.gif') no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url('../../images/paddle_prev_999.png');
    -webkit-transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url('../../images/paddle_next_999.png');
    -webkit-transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url('../../images/paddle_prev_fff.png');
}

.arrow.next:hover {
    opacity: 1;
    background-image: url('../../images/paddle_next_fff.png');
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}

.product-page footer.info {
    margin-top: 0;
    text-align: left!important;
    margin-bottom: 5rem;
}

.product-page footer.info h2 {
    font-size: 1.3rem;
    line-height: 1.5625rem;
    margin: 0 0 30px;
    font-weight: 900;
}

.info-outer{
    margin-top:50px;
    display: none;
}

.sizeBtn-container{
    height: 52px;
}

.single-footer nav.footerbuttons {
    text-align: right;
    bottom: 0;
    right: 0px !important;
    height: 52px;
    display: inline-block!important;
    -webkit-transition: -webkit-transform .3s ease-in-out;
}

.btnAdd{
    position: relative;
    height: 54px ;
    width: 190px ;
    color: white ;
    margin-bottom: 0px ;
    bottom: 0px ;
    background-color: black ;
}

.addbtn:focus{
        right: 0px;
   
    top: 0px;
    height: 54px;
    width: 150px;
    color: white;
    margin-bottom: 0px;
    bottom: 0px;
    background-color: rgb(51,51,51);
}

.addBtn:hover{
    right: 0px;
    position: relative;
    top: 0px;
    height: 54px;
    width: 150px;
    color: white;
    margin-bottom: 0px;
    bottom: 0px;
    background-color: rgb(51,51,51) !important;
    cursor: pointer;
}

.addBtn > p{
    color:white;
}

.product-page .info h2 {
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    font-weight: 400;
    color: #000;
    letter-spacing: .38rem;
    font-size: 20px;
    line-height: 2rem;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.single-footer nav.footerbuttons .sizeBtn {
    height: 100%;
    color: rgb(51,51,51);
    position: relative;
    background: url('../../images/svg/up-arrow.svg') 165px center no-repeat #FFF !important;
    background-size: 9px !important;
    text-align: left;
    padding-top: 1.15rem;
    right: -4px;
}


.single-footer nav.footerbuttons .sizeBtn:focus {
    outline: none !important;
    border: none !important;
}
.single-footer nav.footerbuttons button, .single-footer nav.footerbuttons button * {
    font-style: normal!important;
}

.single-footer nav.footerbuttons button {
    width: 190px;
}

.single-footer nav.footerbuttons .sizeBtn span {
    padding-left: 2rem;
}

.footerbuttons {
    right: -4px !important;
    opacity: 1 !important;
}

.single-footer.show {
    bottom: 0;
}

nav.footerbuttons {
    display: block;
    position: absolute;
    -webkit-transition: opacity .5s cubic-bezier(.25,.46,.45,.94),visibility .5s cubic-bezier(.25,.46,.45,.94);
    overflow: hidden;
    opacity: 0;
    right: -400px;
    bottom: -20px;
}

.product-page-sizes.hide {
    height: 0;
    display: block!important;
    visibility: visible;
}

.product-page-sizes {
    display: block;
    position: fixed;
    -webkit-transition: all .6s cubic-bezier(.215,.61,.355,1);
    width: 380px;
    height: 100%;
    background: #151517;
    z-index: 19;
    bottom: 0;
    opacity: 1;
    right: 0px;
}

.hide {
    display: none!important;
    visibility: hidden;
}

.product-page-sizes.hide .scrollpane {
    opacity: 0;
    -webkit-transition: opacity .4s ease-out;
}

.product-page-sizes .scrollpane {
    display: block;
    position: relative;
    width: 200px;
    height: 70%;
    margin: 26px auto 0;
    padding: 0;
    left: -5px;
    top: 10%;
    overflow: hidden;
    -webkit-transition: opacity .4s ease-out .3s;
    opacity: 1;
}

.product-page-sizes .filterList {
    width: 100%!important;
    height: initial!important;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    max-height: 100%;
    border-bottom: none;
    top: 50%;
    -webkit-transform: translate(0,-50%);

}

.product-page-sizes .filterList ul {
    display: block;
    position: relative;
    opacity: 1;
    width: 100%;
    height: auto;
    visibility: visible;
    text-align: center;
    border: none;
}

.product-page-sizes .filterList ul li.key {
    color: #FFF!important;
}

.product-page-sizes .filterList ul li {
    font-size: 12px;
}

filterList ul li.key, .filterList ul li.key:hover {
    cursor: default!important;
    list-style-type: none!important;
    text-indent: 0!important;
    color: #9C9C9C!important;
}

.filterList ul li:hover {
    color: white;
}

.filterList ul li {
    display: block;
    position: relative;
    width: 100%;
    -webkit-transition: text-indent 300ms ease;
    height: 33px;
    line-height: 33px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: #9C9C9C;
    letter-spacing: 3px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filterList ul {
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .1875rem;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: .625rem;
    list-style: none;
}

.filterList {
    margin: 0 0 0 -4px;
    display: inline-block;
    vertical-align: top;
}


.show-when-small{
    display: none;
}


.product-page .upsells {
    display: block;
    overflow: hidden;
    background: #1D1D1F;
}

.product-page .upsells .bar {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
    font-family: 'AvenirNext LT Pro Demi',Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1875rem;
    font-size: 12px;
    background: #1D1D1F;
    line-height: 21;
    text-align: center;
    color: #FFF;
}

.scroll-container::-webkit-scrollbar{
    display: none;
}

.scroll-container {
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    position: relative;
    background: #f3f3f5;
    white-space: nowrap;
    width: 100%;
    height: 50%;
    padding-bottom: 74px;
    min-height: 260px;
    margin-bottom: -20px;
    left: 0;
    -webkit-transition: top .35s cubic-bezier(.455,.03,.515,.955);
}

.product-page .upsells .bar.show span {
    -webkit-transition: opacity .45s cubic-bezier(.455,.03,.515,.955) .6s;
    opacity: 1;
}

.product-page .upsells .scroll-container ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: 50%;
    white-space: nowrap;
}

html.no-touchevents .product-page .upsells .scroll-container ul li.onscreen {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 1.5s;
    -webkit-transition-property: -webkit-transform;
}

.product-page .upsells .scroll-container ul li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 40%;
    min-height: 260px;
    min-width: 260px;
    white-space: nowrap;
    opacity: 1;
    background-size: contain;
    -webkit-transition: opacity .45s cubic-bezier(.455,.03,.515,.955) 0,-webkit-transform .45s cubic-bezier(.25,.46,.45,.94);
    background-position: center center;
    background-repeat: no-repeat;
}


.product-page .upsells .scroll-container ul li a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.product-page footer.info{
    z-index: 999999;
}

html.no-touchevents .product-page .upsells .scroll-container ul li:nth-child(1) {
    -webkit-transform: translate3d(0,45px,0);
}

@media all and (orientation:portrait) {

    .product-page .upsells .scroll-container ul li{
        width: 25%;
    }

    .addBtn{
        width: 50%;
    }

    .product-page footer.info{
        z-index: 1 !important
    }


    .product-page .upsells .scroll-container {
        top: 0;
        margin-bottom: 40px;
    }

    .product-page .upsells .scroll-container ul {
        opacity: 1!important;
    }

    .hide-when-small{
        display: none;
    }

    .show-when-small{
        display: block;
    }

  .slider{
        display: block;
    }
    
    .image-container{
        display: none !important;
    }

    .info-inner{
        display: none;
    }
    
    .info-outer{
        display: block;
    }

    .single-footer nav.footerbuttons .sizeBtn {
        background: #FFF!important;
        width: 100%;
    }

    .single-footer nav.footerbuttons button {
        width: 50%;
        z-index: 9999999999;
    }

    .filterList {
        display: inline-block!important;
        width: 20%;
        height: 100%;
    }

    nav.footerbuttons {
        right: 0px;
        opacity: 1;
    }

    .btnAdd{
        right: 0px;
    }

    .product-page-size{
        right: 0px;
    }

    .sizeBtn{
        width: 50%;
        right: 4px;
        left: 0px;
    }

    footer{
        z-index: 9999 !important;
    }

    .product-page-sizes {
        z-index: 9999;
        width: 100%;
    }
}



@media only screen and (min-width: 63.813em){
    .product-page aside.info .info-inner {
        -webkit-transition-property: opacity;
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: .7s;
        -webkit-transition-delay: 1s;
    }
}